---
title: "Coyote Drums"
description: "I drum. This is the portion of my site dedicated to that art."
date: 2022-02-18
priority: 0.8
pageClasses:
  - 'coyote-drums'
layout: base
styles:
  - 'main'
  - 'coyote-drums'
scripts:
  - 'coyote-drums'
---

<div class="coyote-drums-logo container">
  <%- getFileContents('/images/coyote-drums/logo.svg') %>
</div>

<section>
  <header class="container">
    <h2>
      Social Channels
    </h2>
  </header>
  <div class="container social-profiles">
    <%- externalLink(`
        <span class="social-icon">${lazyImage({ src: '/images/coyote-drums/instagram-icon.svg' })}</span>
        <span role="heading" aria-level="3" class="h4">Instagram</span>
        <span class="h5">@coyote.drums</span>
      `, {
        class: "link social-profile",
        href: "https://www.instagram.com/coyote.drums/"
    }) %>
    <%- externalLink(`
        <span class="social-icon">${lazyImage({ src: '/images/coyote-drums/youtube-icon.svg' })}</span>
        <span role="heading" aria-level="3" class="h4">Youtube</span>
        <span class="h5">Coyote Drums</span>
      `, {
        class: "link social-profile",
        href: locals.coyoteDrums.youtube,
    }) %>
  </div>
</section>

<section>
  <header class="container">
    <h2>
      Playlists
    </h2>
  </header>
  <div class="container video-grid playlists">
    <button class="block link yt-modal-trigger" data-playlist-id="PLetKrknUS6uORehWMWAOfojlwXGCsUXZw">
      <%- lazyImage({ src: '/images/coyote-drums/drum-covers.jpeg' }) %>
      Drum Covers
    </button>
    <button class="block link yt-modal-trigger" data-playlist-id="PLetKrknUS6uPieWF-xk2z4-5O6Qknn9B9">
      <%- lazyImage({ src: '/images/coyote-drums/glow-sticks.jpeg' }) %>
      Glow Sticks
    </button>
  </div>
</section>

<%
  const videoTitle = (title, artist) => {
    if (artist) {
      return `
        <ul>
          <li>${noWidows(title)}</li>
          <li>By: ${artist}</li>
        </ul>
      `;
    }
    return title;
  };

  const videos = [
    {
      artist: "Underoath",
      title: "I don’t feel very receptive today",
      id: "loGe3CfA9r8",
      date: "2020-12-23"
    },
    {
      artist: "Queens of the Stone Age",
      title: "Song for the Dead",
      id: "ib--ZJhxoPU",
      date: "2020-12-23"
    },
    {
      artist: "Chumbawamba",
      title: "Tubthumping (Drum Cover)",
      id: "OYF05_zmLbg",
      date: "2020-12-29"
    },
    {
      artist: "Box Car Racer",
      title: "All Systems Go",
      id: "5efQM16xcNE",
      date: "2020-12-29"
    },
    {
      artist: "These Green Eyes",
      title: "Something Perfect",
      id: "FnJVUBm8TXg",
      date: "2020-12-29"
    },
    {
      artist: "Blink-182",
      title: "Down",
      id: "6CmnK_GC9YM",
      date: "2021-02-28"
    },
    {
      title: "What happens when your camera isn’t mounted very well",
      id: "VIFcO2bItjU",
      date: "2022-02-01"
    },
    {
      artist: "Blink-182",
      title: "What’s My Age Again",
      id: "f8HAx-N4z28",
      date: "2022-02-02"
    },
    {
      artist: "Blink-182",
      title: "Adam’s Song",
      id: "NSZ8_1lQ_I8",
      date: "2022-02-15"
    },
    {
      artist: "Blink-182",
      title: "All The Small Things",
      id: "9ubiPRp5uto",
      date: "2022-03-02"
    },
  ].sort((a, b) => (a.date < b.date) ? 1 : -1);
%>

<section class="videos">
  <header class="container">
    <h2>
      Videos
    </h2>
  </header>
  <div class="container video-grid">
    <% videos.forEach(({ artist, title, id }) => { %>
      <button class="block link yt-modal-trigger" data-video-id="<%- id %>"><%- videoTitle(title, artist) %></button>
    <% }); %>
  </div>
</section>
