---
title: "Experience"
altTitle: "Brian has experience."
description: "Staff UX Engineer at Google, since 2014, when Google acquired Nest Labs."
date: 2017-09-03
priority: 0.9
layout: base
styles:
  - 'main'
  - 'experience/index'
scripts:
  - 'experience'
---

<section class="google-store" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="Google Store"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>October 2018 - Present</strong></p>
    <p>
      The <%- externalLink("nest.com", { href: "https://nest.com" }) %> team was moved into the Google Store organization in 2018 as we prepared for the merging of Nest Labs into the then Google Hardware organization under Google, Inc. Since then, Brian has been working on improving the customer experience across the whole <%- externalLink("Google Store", { href: "https://store.google.com" }) %>.
    </p>
  </div>
</section>



<section class="nest" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="WWW"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>May 2013 - October 2018</strong></p>
    <p>
      After graduating in May 2013, Brian drove out to California and began an internship at <%- externalLink("Nest Labs", { href: "https://nest.com" }) %>, a medium-sized startup in Palo Alto. Brian made a good impression, and was hired.
    <p>
    <p>
      Since then, Brian has worked on a wide variety of projects on the web team. From the <%- externalLink("Compatibility Widget", { href: "https://nest.com/widget/compatibility" }) %> that takes a user's home thermostat wiring information and discerns their system's compatibility with our learning thermostat, to the overall <%- externalLink("support website", { href: "https://nest.com/support/" }) %>. He has worked on the team long enough that there probably isn't a page that lacks his fingerprints (however small it may be).
    </p>
    <p>
      Brian really enjoyed his work at Nest and on <%- externalLink("nest.com", { href: "https://nest.com" }) %>.
    </p>
  </div>
</section>



<section class="principal" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2012 Summer Internship</strong></p>
    <p>
      When interning for <%- externalLink("Principal Financial Group", { href: "https://www.principal.com" }) %> in the summer of 2012, Brian worked with a team of Java engineers to build a robust system to handle their secure documents delivery. Largely his work focused on building tests for their foundational transfer processes.
    </p>
  </div>
</section>



<section class="smith" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2011 Summer Internship</strong></p>
    <p>
      Interning for <%- externalLink("Smith &amp; Associates", { href: "https://www.smithweb.com/" }) %> over the summer of 2011 was very educational. Most of his summer in Houston was spent as QA for all of their internal documenting tools.
    </p>
  </div>
</section>



<section class="anders-crane" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>1990s - 2013</strong></p>
    <p>
      Many are surprised that Brian has a background in working around cranes. Though he is not a certified crane operator, he grew up running the crane in the family business, <%- externalLink("Anders Crane Service", { href: "https://www.facebook.com/pages/Anders-Crane-Service/240049426876" }) %>. You probably notice the name, and yes, it's the family business.
    </p>
    <p>
      Brian's dad, Steve, has owned and run cranes his whole life. He is a professor of Economics at <%- externalLink("Graceland University", { href: "https://www.graceland.edu/" }) %>, but his hobby for the last 40+ years has been the crane business. Brian would often help him work on the cranes (enhancements or maintenance) as well as frequently going on jobs all over southern Iowa. Many adventures were had, and those experiences working with the cranes taught Brian a lot about communication, risk, responsibility, work ethic, teamwork, and adaptability - as no two jobs were the same.
    </p>
  </div>
</section>



<section class="graceland" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="alumni" content="Brian Anders"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2008-2013</strong></p>
    <p>
      At <%- externalLink("Graceland University", { href: "https://www.graceland.edu/" }) %>, Brian worked at the movie theater. He started in concessions, making popcorn, and he ran the projector. Over time, he grew his responsibility and became the main film technician, building and tearing down the movie reels each week. Finally, he became the manager of the theater for a year before graduating.
      </p>
      <p>
      Brian also worked in STA+ (Student Technical Assistants Plus), where he was a part of a team that delivered technical support for both students and faculty.
    </p>
  </div>
</section>



<section class="contributions">
  <div class="content">
    <h2>Contributions to the internet</h2>
    <p>I have on occassion contributed to the world outside of my work. Sometimes there is evidence of my contributions. And I like to collect that evidence here.</p>
    <div class="deck">
    <%
      const model = [
        {
          title: "Podcast: Bat Lessons",
          image: "/images/experience/contributions/batlessons.webp",
          description: `My friend ${externalLink('Alex Cash', { href: 'http://alexcash.com' })} and I have started a podcast together about Batman; the context around the development of the character, the history of the character, and the impact that our world had on theirs. Check it out!`,
          links: [
            {
              label: "Podcast site",
              url: "https://batlessons.com/"
            }
          ]
        }, {
          title: "YouTube: Coyote Drums",
          image: "/images/coyote-drums/logo.svg",
          description: "I have a YouTube channel where I post recordings of me playing the drums over music. I hope to compose my own music someday.",
          links: [
            {
              label: "Musician's Site",
              url: "/coyote-drums"
            }, {
              label: "YouTube Channel",
              url: "https://www.youtube.com/channel/UCZb-TrkZEXWCxDl88JtGtMw"
            }
          ]
        }, {
          title: "VSCode extension: Sublime Duplicate Text",
          image: "/images/experience/contributions/sublime-duplicate-text-logo.webp",
          description: "I built a VSCode extension that duplicates text in a way that is similar to Sublime Text does. This makes replicating the keyboard shortcuts in VSCode a bit simpler.",
          links: [
            {
              label: "VSCode Extension Marketplace",
              url: "https://marketplace.visualstudio.com/items?itemName=brian-anders.sublime-duplicate-text"
            }, {
              label: "Github",
              url: "https://github.com/briananders/sublime-text-dublicate"
            }
          ]
        }, {
          title: "NPM package: Two Way Merge",
          image: "/images/experience/contributions/npm-logo.svg",
          description: "I built an NPM module and published it to the global package library. The module is a command line action that takes two directories and merges them into each other.",
          links: [
            {
              label: "NPM Package",
              url: "https://www.npmjs.com/package/@briananders/two-way-merge"
            }, {
              label: "Github",
              url: "https://github.com/briananders/two-way-merge"
            }
          ]
        }, {
          title: "Ruby Gem: Middleman XML Validator",
          image: "/images/experience/contributions/rubygems-logo.svg",
          description: "I built a Ruby Gem and published it to the global library. The gem was an XML validator for Middleman static site generator systems.",
          links: [
            {
              label: "Rub Gem",
              url: "https://rubygems.org/gems/middleman-xmlvalidator"
            }, {
              label: "Github",
              url: "https://github.com/briananders/MiddlemanXMLValidator"
            }
          ]
        }, {
          title: "Speaking: Graceland University ACM Chapter Presentation",
          image: "/images/experience/contributions/graceland-logo.svg",
          description: "As a former ACM President of the Graceland University chapter (Association for Computing Machinery), I try to present at the weekly meeting whenever I'm in town. The campus newspaper wrote up a little piece after one of my previous visits.",
          links: [
            {
              label: "Graceland News",
              url: "https://www.graceland.edu/news/graceland-university-alumnus-brian-anders-shares-real-world-tips-on-campus/"
            }
          ]
        }, {
          title: "Podcast Interview: Signed In Ink",
          image: "/images/experience/contributions/signed-in-ink-cover-art.webp",
          description: `My brother ${externalLink('Kevin', { href: 'https://www.instagram.com/kevin_anders/' })} has a podcast about people - specifically people with tattoos - and I have been a guest on the show a few times.`,
          links: [
            {
              label: "Oct 12, 2020",
              url: "https://signedinink.libsyn.com/brian-anders"
            }, {
              label: "Dec 14, 2020",
              url: "https://signedinink.libsyn.com/brian-anders-0"
            }, {
              label: "Dec 28, 2020",
              url: "https://signedinink.libsyn.com/stephanie-brian-anders"
            }, {
              label: "Jun 7, 2021",
              url: "https://signedinink.libsyn.com/brian-anders-1"
            }, {
              label: "Nov 9, 2021",
              url: "https://signedinink.libsyn.com/brian-anders-2"
            }, {
              label: "Dec 6, 2021",
              url: "https://signedinink.libsyn.com/brian-anders-3"
            }
          ]
        }, {
          title: "MICS 2013 Robotics contest",
          image: "/images/experience/contributions/lego-logo.svg",
          description: `The Midwest Instruction and Computing Symposium is an organization that has an annual robotics contest. For this content, I enhanced the
          ${externalLink('code', { href: 'https://github.com/briananders/Robotics-Solutions'})} that
          ${externalLink('Alex Cash', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} and I wrote in 2011 to compete in the robotics contest again and win 2nd place, again.`,
          links: [
            {
              label: "Github",
              url: "https://github.com/briananders/MICS-Robot-2013"
            }
          ]
        }, {
          title: "Fish Tank Computer 2012",
          image: "/images/experience/contributions/youtube-logo.svg",
          description: `For a college course,  ${externalLink('Alex Cash', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} and I made a fishtank computer using mineral oil. Since mineral oil is non-conductive, the computer components are safe to run in that medium. It also works as a coolant. The largest downside is that the oil can wick up the cord and into the wall socket.`,
          links: [
            {
              label: "Youtube Video",
              className: "yt-modal-trigger",
              dataVideoId: 'GNhxvhKoagg',
            }
          ]
        }, {
          title: "MICS 2011 Robotics contest",
          image: "/images/experience/contributions/lego-logo.svg",
          description: `The Midwest Instruction and Computing Symposium is an organization that has an annual robotics contest. This is the code that ${externalLink('Alex Cash', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} and I wrote to compete in the robotics contest and win 2nd place.`,
          links: [
            {
              label: "Github",
              url: "https://github.com/briananders/Robotics-Solutions"
            }
          ]
        }, {
          title: "iTunes JScripts",
          image: "/images/experience/contributions/itunes-logo.svg",
          description: "I have been a junkie for iTunes and Apple Music since middle school. When I was a Windows user, I wrote JScripts to interface with my iTunes Library.",
          links: [
            {
              label: "Github",
              url: "https://github.com/briananders/iTunes-JavaScript-JScript"
            }
          ]
        }, {
          title: "Participated in RAGBRAI 2017",
          image: "/images/experience/contributions/ragbrai-logo.svg",
          description: "In 2017, I rode with my mom and a group of Graceland University alumni in RAGBRAI, the Register's Annual Great Bike Ride Across Iowa. We rode over 400 miles in 7 days.",
          links: [
            {
              label: "Media link",
              url: "http://readme.readmedia.com/Graceland-University-Participates-in-RAGBRAI-2017-for-a-Seventh-Year/15066137"
            }
          ]
        }
      ]
      model.forEach(({ description, image, title, links }) => {
    %>
        <div class="card">
          <%- lazyImage({ src: image }) %>
          <h3><%- title %></h3>
          <p class="description"><%- description %></p>
          <div class="links">
            <% links.forEach(({ label, url, className='', dataVideoId }) => {
              if (url) { %>
                <%- externalLink(label, { href: url, 'class': `link ${className}`, dataVideoId }) %>
              <% } else { %>
                <button class="<%- `link ${className}` %>" <%- (dataVideoId) ? `data-video-id="${dataVideoId}"` : '' %> ><%- label %></button>
              <% }
            }); %>
          </div>
        </div>
    <%
      });
    %>
    </div>
  </div>
</section>





<section class="resources">
  <div class="content">
    <h3>Technologies that I use</h3>
    <ul class="default p">
      <%
      const languages = [
        {
          name: "Browserify",
          url: "http://browserify.org/",
        }, {
          name: "Git",
          url: "https://git-scm.com/",
        }, {
          name: "I18n",
          url: "https://en.wikipedia.org/wiki/Internationalization_and_localization",
        }, {
          name: "jQuery",
          url: "https://jquery.com/",
        }, {
          name: "Ruby",
          url: "https://www.ruby-lang.org/",
        }, {
          name: "EJS",
          url: "http://ejs.co/",
        }, {
          name: "HTML",
          url: "https://en.wikipedia.org/wiki/HTML",
        }, {
          name: "CSS",
          url: "https://en.wikipedia.org/wiki/Cascading_Style_Sheets",
        }, {
          name: "JavaScript",
          url: "https://www.javascript.com/",
        }, {
          name: "SASS",
          url: "http://sass-lang.com/",
        }, {
          name: "EmberJS",
          url: "https://www.emberjs.com/",
        }, {
          name: "Node",
          url: "https://nodejs.org/en/",
        }, {
          name: "Yaml",
          url: "http://yaml.org/",
        }, {
          name: "JSON",
          url: "http://www.json.org/",
        }
      ];

      for(let i = 0; i < languages.length; i++) {
        const language = languages[i];
      %>
        <li>
          <%- externalLink(language.name, { href: language.url, class: 'button' }) %>
        </li>
      <% } %>
    </ul>
  </div>
</section>




<section class="resources">
  <div class="content">
    <h3>Helpful Resources</h3>
    <p>
      Here are some resources that finds useful. There are many many more resources on the internet, but these are some pillars that support his web development growth.
    </p>
    <ul class="default p">
      <%
      const resources = [
        {
          url: "https://google.com/",
          name: "Google",
        }, {
          url: "https://css-tricks.com/",
          name: "CSS-Tricks",
        }, {
          url: "https://stackoverflow.com/",
          name: "Stack Overflow",
        }, {
          url: "https://developer.mozilla.org/",
          name: "Mozilla Developer Network (MDN)",
        }
      ];

      for(let i = 0; i < resources.length; i++) {
        const resource = resources[i];
      %>
        <li>
          <%- externalLink(resource.name, { href: resource.url, class: "button" }) %>
        </li>
      <% } %>
    </ul>
  </div>
</section>