---
title: "Experience"
altTitle: "Brian has experience."
description: "Staff UX Engineer at Google, since 2014, when Google acquired Nest Labs."
date: 2017-09-03
priority: 0.9
layout: base
styles:
  - 'main'
  - 'experience/index'
---

<section class="google-store" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="Google Store"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Google Store", { href: "https://store.google.com" }) %>
    </h2>
    <p><strong>October 2018 - Present</strong></p>
    <p>
      The <%- externalLink("nest.com", { href: "https://nest.com" }) %> team was moved into the Google Store organization in 2018 as we prepared for the merging of Nest Labs into the then Google Hardware organization under Google, Inc. Since then, Brian has been working on improving the customer experience across the whole <%- externalLink("Google Store", { href: "https://store.google.com" }) %>.
    </p>
  </div>
</section>



<section class="nest" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="WWW"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Nest", { href: "https://nest.com" }) %>
    </h2>
    <p><strong>May 2013 - October 2018</strong></p>
    <p>
      After graduating in May 2013, Brian drove out to California and began an internship at <%- externalLink("Nest Labs", { href: "https://nest.com" }) %>, a medium-sized startup in Palo Alto. Brian made a good impression, and was hired.
    <p>
    <p>
      Since then, Brian has worked on a wide variety of projects on the web team. From the <%- externalLink("Compatibility Widget", { href: "https://nest.com/widget/compatibility" }) %> that takes a user's home thermostat wiring information and discerns their system's compatibility with our learning thermostat, to the overall <%- externalLink("support website", { href: "https://nest.com/support/" }) %>. He has worked on the team long enough that there probably isn't a page that lacks his fingerprints (however small it may be).
    </p>
    <p>
      Brian really enjoyed his work at Nest and on <%- externalLink("nest.com", { href: "https://nest.com" }) %>.
    </p>
  </div>
</section>






<section class="principal" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Principal Financial Group", { href: "https://www.principal.com" }) %>
    </h2>
    <p><strong>2012 Internship</strong></p>
    <p>
      When interning for <%- externalLink("Principal Financial Group", { href: "https://www.principal.com" }) %> in the summer of 2012, Brian worked with a team of Java engineers to build a robust system to handle their secure documents delivery. Largely his work focused on building tests for their foundational transfer processes.
    </p>
  </div>
</section>






<section class="smith" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Smith &amp; Associates", { href: "https://www.smithweb.com/" }) %>
    </h2>
    <p><strong>2011 Internship</strong></p>
    <p>
      Interning for <%- externalLink("Smith &amp; Associates", { href: "https://www.smithweb.com/" }) %> over the summer of 2011 was very educational. Most of his summer in Houston was spent as QA for all of their internal documenting tools.
    </p>
  </div>
</section>






<section class="anders-crane" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Anders Crane Service", { href: "https://www.facebook.com/pages/Anders-Crane-Service/240049426876" }) %>
    </h2>
    <p><strong>Continuous</strong></p>
    <p>
      Many are surprised that Brian has a background in working around cranes. Though he is not a certified crane operator, he grew up running the crane in the family business, <%- externalLink("Anders Crane Service", { href: "https://www.facebook.com/pages/Anders-Crane-Service/240049426876" }) %>. You probably notice the name, and yes, it's the family business.
    </p>
    <p>
      Brian's dad, Steve, has owned and run cranes his whole life. He is a professor of Economics at <%- externalLink("Graceland University", { href: "https://www.graceland.edu/" }) %>, but his hobby for the last 40+ years has been the crane business. Brian would often help him work on the cranes (enhancements or maintenance) as well as frequently going on jobs all over southern Iowa. Many adventures were had, and those experiences working with the cranes taught Brian a lot about communication, risk, responsibility, work ethic, teamwork, and adaptability - as no two jobs were the same.
    </p>
  </div>
</section>






<section class="graceland" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="alumni" content="Brian Anders"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p">
      <%- externalLink("Graceland University", { href: "https://www.graceland.edu/" }) %>
    </h2>
    <p><strong>2008-2013</strong></p>
    <p>
      At <%- externalLink("Graceland University", { href: "https://www.graceland.edu/" }) %>, Brian worked at the movie theater. He started in concessions, making popcorn, and he ran the projector. Over time, he grew his responsibility and became the main film technician, building and tearing down the movie reels each week. Finally, he became the manager of the theater for a year before graduating.
      </p>
      <p>
      Brian also worked in STA+ (Student Technical Assistants Plus), where he was a part of a team that delivered technical support for both students and faculty.
    </p>
  </div>
</section>





<section class="resources">
  <div class="content">
    <h3>Technologies that I use</h3>
    <ul class="default p">
      <%
      const languages = [
        {
          name: "Browserify",
          url: "http://browserify.org/",
        },{
          name: "Git",
          url: "https://git-scm.com/",
        },{
          name: "I18n",
          url: "https://en.wikipedia.org/wiki/Internationalization_and_localization",
        },{
          name: "jQuery",
          url: "https://jquery.com/",
        },{
          name: "Ruby",
          url: "https://www.ruby-lang.org/",
        },{
          name: "EJS",
          url: "http://ejs.co/",
        },{
          name: "HTML",
          url: "https://en.wikipedia.org/wiki/HTML",
        },{
          name: "CSS",
          url: "https://en.wikipedia.org/wiki/Cascading_Style_Sheets",
        },{
          name: "JavaScript",
          url: "https://www.javascript.com/",
        },{
          name: "SASS",
          url: "http://sass-lang.com/",
        },{
          name: "EmberJS",
          url: "https://www.emberjs.com/",
        },{
          name: "Node",
          url: "https://nodejs.org/en/",
        },{
          name: "Yaml",
          url: "http://yaml.org/",
        },{
          name: "JSON",
          url: "http://www.json.org/",
        }
      ];

      for(let i = 0; i < languages.length; i++) {
        const language = languages[i];
      %>
        <li>
          <%- externalLink(language.name, { href: language.url, class: 'button' }) %>
        </li>
      <% } %>
    </ul>
  </div>
</section>




<section class="resources">
  <div class="content">
    <h3>Helpful Resources</h3>
    <p>
      Here are some resources that finds useful. There are many many more resources on the internet, but these are some pillars that support his web development growth.
    </p>
    <ul class="default p">
      <%
      const resources = [
        {
          url: "https://google.com/",
          name: "Google",
        }, {
          url: "https://css-tricks.com/",
          name: "CSS-Tricks",
        }, {
          url: "https://stackoverflow.com/",
          name: "Stack Overflow",
        }, {
          url: "https://developer.mozilla.org/",
          name: "Mozilla Developer Network (MDN)",
        }
      ];

      for(let i = 0; i < resources.length; i++) {
        const resource = resources[i];
      %>
        <li>
          <%- externalLink(resource.name, { href: resource.url, class: "button" }) %>
        </li>
      <% } %>
    </ul>
  </div>
</section>