---
title: "Experience"
altTitle: "I have experience."
description: "Staff UX Engineer at Google, since 2014, when Google acquired Nest Labs."
date: 2017-09-03
priority: 0.9
layout: base
styles:
  - 'main'
  - 'experience/index'
scripts:
  - 'experience'
---

<section class="google-store" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="Google Store"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>October 2018 - Present</strong></p>
    <p>
      <%- noWidows(`In preparation of merging Nest Labs into Google Hardware, in 2018, the ${externalLink("nest.com", { href: "https://nest.com" })} engineering team merged into the Google Store engineering team. Since then, I have been working on improving the customer experience across the whole ${externalLink("Google Store", { href: "https://store.google.com" })}. My primary focus areas are new product launches, product pages, accessibility, site performance, SEO, and product quality.`); %>
    </p>
  </div>
</section>



<section class="nest" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="employee" content="Brian Anders"/>
    <meta itemprop="department" content="WWW"/>
    <meta itemprop="parentOrganization" content="Alphabet, inc"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>May 2013 - October 2018</strong></p>
    <p>
      <%- noWidows(`After graduating college in May 2013, I drove out to California and began an internship at ${externalLink("Nest Labs", { href: "https://nest.com" })}. At that time, Nest a medium-sized startup in Palo Alto. I made a good impression, and got hired.`); %>
    <p>
    <p>
      <%- noWidows(`For years, I worked on a wide variety of projects on the web team. The ${externalLink("Compatibility Widget", { href: "https://nest.com/widget/compatibility" })} was a complex project that I owned. It takes a user’s home thermostat wiring and determines their HVAC system’s compatibility with the Nest learning thermostat. Eventually, I led the development of the ${externalLink("Nest support website", { href: "https://nest.com/support/" })}. I worked on the team long enough that there isn’t a page that lacks my fingerprints (however small it may be).`); %>
    </p>
    <p>
      <%- noWidows(`I loved my work at Nest and on ${externalLink("nest.com", { href: "https://nest.com" })}.`); %>
    </p>
  </div>
</section>



<section class="principal" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2012 Summer Internship</strong></p>
    <p>
      <%- noWidows(`Over the summer of 2012, I interned at ${externalLink("Principal Financial Group", { href: "https://www.principal.com" })}. I worked with a team of Java engineers to build a robust system to secure deliver documents. My main work focused on building tests for their foundational transfer processes. The team was also piloting an Agile workflow, which was new for the company. It was a great learning experience, and the team there was friendly and accepting.`); %>
    </p>
  </div>
</section>



<section class="smith" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2011 Summer Internship</strong></p>
    <p>
      <%- noWidows(`Interning for ${externalLink("Smith &amp; Associates", { href: "https://www.smithweb.com/" })} in Houston over the summer of 2011, was educational. I spent most of my internship doing QA for all their internal documentation tools.`); %>
    </p>
  </div>
</section>



<section class="anders-crane" itemtype="https://schema.org/Organization">
  <div class="content">
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>1990s - 2013</strong></p>
    <p>
      <%- noWidows(`It surprises many to learn that I have a background of working around cranes. Though I am not a certified crane operator, I grew up running the crane in the family business. ${externalLink("Anders Crane Service", { href: "https://www.facebook.com/pages/Anders-Crane-Service/240049426876" })} provided many learning opportunities.`); %>
    </p>
    <p>
      <%- noWidows(`My dad, Steve, has owned and run cranes my whole life. He is a professor of Economics at ${externalLink("Graceland University", { href: "https://www.graceland.edu/" })}. But, his hobby for the last 40+ years has been running cranes. We worked on the cranes, building enhancements and doing maintenance. We travelled to crane jobs all over southern Iowa, setting trusses on houses and moving rocks for farmers. We had many adventures together. Those experiences taught me a lot about communication, risk, responsibility, work ethic, teamwork, and adaptability. No two jobs were the same.`); %>
    </p>
  </div>
</section>



<section class="graceland" itemtype="https://schema.org/Organization">
  <div class="content">
    <meta itemprop="alumni" content="I Anders"/>
    <h2 lazy data-lazy-style="background-image: var(--background-image);" itemprop="name" class="p"></h2>
    <p><strong>2008-2013</strong></p>
    <p>
      <%- noWidows(`At ${externalLink("Graceland University", { href: "https://www.graceland.edu/" })}, I worked at the movie theater. As a freshman, I started in concessions, making popcorn, and I ran the projector. Over time, my responsibility grew, and I became the main film technician. That required building and tearing down the movie reels each week. Finally, I became the manager of the theater for a year before graduating.`); %>
    </p>
    <p>
      <%- noWidows('I also worked in STA+ (Student Technical Assistants Plus). That team  delivered technical support for both students and faculty.'); %>
    </p>
    <p>
      <%- noWidows('Both of these jobs taught me a lot about teamwork, communication, and responsibility.'); %>
    </p>
  </div>
</section>



<section class="contributions">
  <div class="content">
    <h2><%- noWidows('Contributions to the internet'); %></h2>
    <p><%- noWidows('I have on occassion contributed to the world outside of my work. Sometimes there is evidence of my contributions. I like to collect that evidence here.'); %></p>
    <div class="deck">
      <%
        const model = [
          {
            title: "Podcast: Bat Lessons",
            image: "/images/experience/contributions/batlessons.webp",
            description: `My friend ${externalLink('Alex Cash', { href: 'http://alexcash.com' })} and I cohost a podcast together about Batman. It focuses on the context around the development of the characters, the history of the Batman universe, and the impact that our world had on it. Check it out!`,
            links: [
              {
                label: "Podcast site",
                url: locals.batLessons,
              },
            ],
          }, {
            title: "YouTube: Coyote Drums",
            image: "/images/coyote-drums/logo.svg",
            description: "I have a YouTube channel where I post recordings of me playing drum covers. I plan to compose my own music someday.",
            links: [
              {
                label: "Main Site",
                path: locals.coyoteDrums.path,
              }, {
                label: "YouTube Channel",
                url: locals.coyoteDrums.youtube,
              },
            ],
          }, {
            title: "VSCode extension: Sublime Duplicate Text",
            image: "/images/experience/contributions/sublime-duplicate-text-logo.webp",
            description: "I built a VSCode extension that duplicates text like Sublime Text does. This makes replicating the keyboard shortcuts in VSCode a bit simpler.",
            links: [
              {
                label: "VSCode Extension Marketplace",
                url: "https://marketplace.visualstudio.com/items?itemName=brian-anders.sublime-duplicate-text",
              }, {
                label: "Github",
                url: "https://github.com/briananders/sublime-text-dublicate",
              },
            ],
          }, {
            title: "NPM package: Two Way Merge",
            image: "/images/experience/contributions/npm-logo.svg",
            description: "I built an NPM module and published it to the global package library. The module is a command line action that takes two directories and merges them into each other.",
            links: [
              {
                label: "NPM Package",
                url: "https://www.npmjs.com/package/@briananders/two-way-merge",
              }, {
                label: "Github",
                url: "https://github.com/briananders/two-way-merge",
              },
            ],
          }, {
            title: "Ruby Gem: Middleman XML Validator",
            image: "/images/experience/contributions/rubygems-logo.svg",
            description: "I built a Ruby Gem and published it to the global library. The gem was an XML validator for Middleman static site generator systems.",
            links: [
              {
                label: "Rub Gem",
                url: "https://rubygems.org/gems/middleman-xmlvalidator",
              }, {
                label: "Github",
                url: "https://github.com/briananders/MiddlemanXMLValidator",
              },
            ],
          }, {
            title: "Alfred Workflow: Google Meet Code",
            image: "/images/experience/contributions/alfred-logo.png",
            description: "I wrote a simple Alfred Workflow to extract the meeting code from a Google Meet URL.",
            links: [
              {
                label: "Alfred App",
                url: "https://www.alfredapp.com/",
              }, {
                label: "Workflow",
                url: "/downloads/Meet Code.alfredworkflow",
              },
            ],
          }, {
            title: "Speaking: Graceland University ACM Chapter Presentation",
            image: "/images/experience/contributions/graceland-logo.svg",
            description: "ACM stands for The Association for Computing Machinery. As a former ACM President of the Graceland University chapter, I try to present at ACM whenever I'm in town. The campus newspaper wrote up a little piece after one of my previous visits.",
            links: [
              {
                label: "Graceland News",
                url: "https://www.graceland.edu/news/graceland-university-alumnus-brian-anders-shares-real-world-tips-on-campus/",
              },
            ],
          }, {
            title: "Podcast Interview: Signed In Ink",
            image: "/images/experience/contributions/signed-in-ink-cover-art.webp",
            description: `My brother ${externalLink('Kevin', { href: 'https://www.instagram.com/kevin_anders/' })} has a podcast about people. People with tattoos. I have been a guest on the show a few times.`,
            links: [
              {
                label: "Oct 12, 2020",
                url: "https://signedinink.libsyn.com/brian-anders",
              }, {
                label: "Dec 14, 2020",
                url: "https://signedinink.libsyn.com/brian-anders-0",
              }, {
                label: "Dec 28, 2020",
                url: "https://signedinink.libsyn.com/stephanie-brian-anders",
              }, {
                label: "Jun 7, 2021",
                url: "https://signedinink.libsyn.com/brian-anders-1",
              }, {
                label: "Nov 9, 2021",
                url: "https://signedinink.libsyn.com/brian-anders-2",
              }, {
                label: "Dec 6, 2021",
                url: "https://signedinink.libsyn.com/brian-anders-3",
              },
            ],
          }, {
            title: "MICS 2013 Robotics contest",
            image: "/images/experience/contributions/lego-logo.svg",
            description: `MICS stands for The Midwest Instruction and Computing Symposium. MICS hosts an annual robotics contest and a programming contest. After ${externalLink('Alex', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} graduated, I enhanced the ${externalLink('code', { href: 'https://github.com/briananders/Robotics-Solutions'})} that we wrote in 2011 to compete in the robotics contest again. I managed to win 2nd place, again.`,
            links: [
              {
                label: "Github",
                url: "https://github.com/briananders/MICS-Robot-2013",
              },
            ],
          }, {
            title: "Fish Tank Computer 2012",
            image: "/images/experience/contributions/youtube-logo.svg",
            description: `For a college course, ${externalLink('Alex Cash', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} and I made a fishtank computer using mineral oil. The idea is that the mineral oil will cool the computer. Since mineral oil is non-conductive, the computer components are safe and won't ruin. The downside is that the oil can wick up the cord and into the wall socket. The experiment worked, and was a good learning experience for us.`,
            links: [
              {
                label: "Youtube Video",
                className: "yt-modal-trigger",
                dataVideoId: 'GNhxvhKoagg',
              },
            ],
          }, {
            title: "MICS 2011 Robotics contest",
            image: "/images/experience/contributions/lego-logo.svg",
            description: `MICS stands for The Midwest Instruction and Computing Symposium. MICS hosts an annual robotics contest and a programming contest. This is the code that ${externalLink('Alex Cash', { href: 'http://alexcash.com/Adventures-in-Robotics/' })} and I wrote to compete in the robotics contest. We won 2nd place.`,
            links: [
              {
                label: "Github",
                url: "https://github.com/briananders/Robotics-Solutions",
              },
            ],
          }, {
            title: "iTunes JScripts",
            image: "/images/experience/contributions/itunes-logo.svg",
            description: "I have been a junkie for iTunes and Apple Music since middle school. For many of my early years, I was a Windows user. My parents wouldn't let me have internet, so I manually managed my library. This means that I typed in everything by hand. When I learned to program, I realized how helpful it would be to automate some library management tasks. I wrote JScripts to interface with my iTunes Library and to do repetitive tasks.",
            links: [
              {
                label: "Github",
                url: "https://github.com/briananders/iTunes-JavaScript-JScript",
              },
            ]
          }, {
            title: "Participated in RAGBRAI 2017",
            image: "/images/experience/contributions/ragbrai-logo.svg",
            description: "RAGBRAI stands for The Register’s Annual Great Bike Ride Across Iowa. In 2017, my mom and I rode RAGBRAI together. We joined the  Graceland University alumni team for the week. We rode over 400 miles in 7 days.",
            links: [
              {
                label: "Media link",
                url: "http://graceland.graceland.campussuite.site/news-events/news/1609552/graceland-university-participates-in-ragbrai-2017-for-a-seventh-year",
              }, {
                label: "RAGBRAI site",
                url: "https://ragbrai.com/",
              }, {
                label: "2017 RAGBRAI Archive",
                url: "https://ragbrai.com/category/2017-ragbrai/",
              },
            ]
          }
        ]
        model.forEach(({ description, image, title, links }) => {
      %>
        <%- partial('contributions-card', Object.assign(locals, { description, image, title, links })); %>
      <% }); %>
    </div>
  </div>
</section>





<section class="resources">
  <div class="content">
    <h3><%- noWidows('Primary technologies that I use'); %></h3>
    <ul class="default p">
      <%
      const languages = [
        { name: "AWS", url: "https://aws.amazon.com/", },
        { name: "Browserify", url: "https://browserify.org/", },
        { name: "CSS", url: "https://en.wikipedia.org/wiki/Cascading_Style_Sheets", },
        { name: "EJS", url: "https://ejs.co/", },
        { name: "EmberJS", url: "https://www.emberjs.com/", },
        { name: "Express", url: "https://expressjs.com/", },
        { name: "Git", url: "https://git-scm.com/", },
        { name: "Gulp", url: "https://gulpjs.com/", },
        { name: "Handlebars", url: "https://handlebarsjs.com/", },
        { name: "Hover", url: "https://www.hover.com/", },
        { name: "HTML", url: "https://en.wikipedia.org/wiki/HTML", },
        { name: "I18n", url: "https://en.wikipedia.org/wiki/Internationalization_and_localization", },
        { name: "JavaScript", url: "https://www.javascript.com/", },
        { name: "jQuery", url: "https://jquery.com/", },
        { name: "JSON", url: "https://www.json.org/", },
        { name: "Markdown", url: "https://en.wikipedia.org/wiki/Markdown", },
        { name: "NGINX", url: "https://www.nginx.com/", },
        { name: "Node", url: "https://nodejs.org/en/", },
        { name: "NPM", url: "https://www.npmjs.com/", },
        { name: "Python", url: "https://www.python.org/", },
        { name: "Ruby", url: "https://www.ruby-lang.org/", },
        { name: "SASS", url: "https://sass-lang.com/", },
        { name: "XML", url: "https://en.wikipedia.org/wiki/XML", },
        { name: "Yaml", url: "https://yaml.org/", },
      ];

      for(let i = 0; i < languages.length; i++) {
        const language = languages[i];
      %>
        <li>
          <%- externalLink(language.name, { href: language.url, class: 'button' }); %>
        </li>
      <% } %>
    </ul>
  </div>
</section>




<section class="resources">
  <div class="content">
    <h3><%- noWidows('Helpful reference resources'); %></h3>
    <p>
      <%- noWidows('Here are some resources that finds useful. There are many many more resources on the internet. These are some pillars that have supported my web development education.'); %>
    </p>
    <ul class="default p">
      <%
      const resources = [
        {
          url: "https://google.com/",
          name: "Google",
        }, {
          url: "https://css-tricks.com/",
          name: "CSS-Tricks",
        }, {
          url: "https://stackoverflow.com/",
          name: "Stack Overflow",
        }, {
          url: "https://developer.mozilla.org/",
          name: "Mozilla Developer Network (MDN)",
        }
      ];

      for(let i = 0; i < resources.length; i++) {
        const resource = resources[i];
      %>
        <li>
          <%- externalLink(resource.name, { href: resource.url, class: "button" }); %>
        </li>
      <% } %>
    </ul>
  </div>
</section>
