---
title: "Home"
description: "Brian Anders is a Staff UX Engineer at Google"
priority: 1.0
homepage: true
pageClasses:
  - 'main'
  - 'home'
layout: base
styles:
  - 'main'
scripts:
  - 'homepage'
---


<%- partial('head/styles', {...locals, path: 'homepage', inlineStyles: true, }) %>


<section class="intro">
  <div class="content">
    <header>
      <h2>
        <%- noWidows('Who am I?'); %>
      </h2>
    </header>
    <p>
      <%- noWidows(`I am Brian Anders, a Staff UX Engineer at ${externalLink('Google', { href: 'https://google.com' })}. From 2013 to 2018, I worked on ${externalLink('nest.com', { href: 'https://nest.com' })} as a UX Engineer. Since 2018 I have been working on the ${externalLink('Google Store', { href: 'https://store.google.com' })}; building and enhancing the web experience.`); %>
    </p>
    <p>
      <%- `Outside of work, I cohost a podcast about Batman with my friend ${externalLink('Alex Cash', { href: 'https://alex.cash' })}, called ${externalLink('Bat Lessons', { href: locals.batLessons })}. I also record drum covers for my ${externalLink('YouTube channel', { href: locals.coyoteDrums.youtube })}, called ${link('Coyote Drums', { href: locals.coyoteDrums.path })}.` %>
    </p>
    <p>
      <%- noWidows(`I have a strong passion for music.  In my free time, I listen to a lot of music, play some other instruments, and try to keep up with a lot of different podcasts.`); %>
    </p>
    <p>
      You can find me on the internet in some other places.
      <% const contactLinks = [
          { copy: 'Github',    href: locals.github,    },
          { copy: 'Instagram', href: locals.instagram, },
          { copy: 'Last.fm',   href: locals.lastfm,    },
          { copy: 'LinkedIn',  href: locals.linkedin,  },
          { copy: 'Mastodon',  href: locals.mastodon,  rel: 'me' },
          { copy: 'Twitter',   href: locals.twitter,   },
          { copy: 'YouTube',   href: locals.coyoteDrums.youtube, },
        ].map(item => externalLink(item.copy, item));
      %>
      <%- contactLinks.join(', '); %>.
    </p>
  </div>
</section>


<section class="contributions">
  <div class="content">
    <h2><%- noWidows('Contributions to the internet.'); %></h2>
    <div class="deck">
    <%
      const model = [
        {
          title: "Google Store",
          image: "/images/about/google-store.svg",
          description: "Since 2018, I have been working on improving the user experience on the Google Hardware Store. My main areas of focus are: new product launches, product pages, accessibility, site performance, SEO, and frontend product quality.",
          links: [
            {
              label: "Google Store",
              url: "https://store.google.com",
            }
          ]
        }, {
          title: "Podcast: Bat Lessons",
          image: "/images/about/contributions/batlessons.webp",
          description: `My friend ${externalLink('Alex Cash', { href: 'https://alex.cash' })} and I cohost a podcast together about Batman. It focuses on the context around the development of the characters, the history of the Batman universe, and the impact that our world had on it. Check it out!`,
          links: [
            {
              label: "Podcast site",
              url: locals.batLessons,
            }
          ]
        }, {
          title: "YouTube: Coyote Drums",
          image: "/images/drums/logo.svg",
          description: "I have a YouTube channel where I post recordings of me playing drum covers. I plan to compose my own music someday.",
          links: [
            {
              label: "Main Site",
              path: locals.coyoteDrums.path,
            }, {
              label: "YouTube Channel",
              url: locals.coyoteDrums.youtube,
            }
          ]
        },
      ]
      model.forEach(({ description, image, title, links }) => {
    %>
        <%- partial('contributions-card', Object.assign(locals, { description, image, title, links })); %>
      <% }); %>
    </div>
  </div>
  <div class="content center">
    <%- link('More experience', {
      href: '/about/',
      class: 'button mega-button',
    }); %>
  </div>
</section>


<section class="posts">
  <div class="content">
    <header>
      <h2>
        <%- noWidows('I have posts. Here are some recent ones.'); %>
      </h2>
    </header>
  </div>
  <%- partial('posts-list', Object.assign(locals, { postCount: 6 })); %>
  <div class="content center">
    <%- link('More posts', {
      href: '/posts/',
      class: 'button mega-button',
    }); %>
  </div>
</section>


<section class="index-music">
  <div class="content">
    <header>
      <h2>
        <%- noWidows('What I have been listening to.'); %>
      </h2>
      <p>
        <%- noWidows('Music is a big deal to me. I am always looking for my next favorite album. Last.fm is a tool that I use to track my listening habits. Here is some of the music that I’ve been listening to recently.'); %>
      </p>
    </header>
    <link rel="preconnect" href="https://ws.audioscrobbler.com" crossorigin />
    <div class="last-fm-module p" data-type="albums" src="/images/posts/last-fm/default.webp">
      <% for (let i = 0; i < 4; i++) { %>
        <%- defaultLastFMModule(); %>
      <% } %>
    </div>
    <div class="center">
      <%- link('More music details', {
        href: '/posts/last-fm/',
        class: 'button mega-button',
      }); %>
    </div>
  </div>
</section>
