---
title: "Home"
altTitle: "Hi, I'm Brian."
description: "Brian Anders is a Senior UX Engineer at Google"
priority: 1.0
pageClasses:
  - 'main'
  - 'home'
layout: base
styles:
  - 'main'
  - 'homepage'
---



<section class="intro">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("Who am I?"); %>
      </h2>
    </header>
    <p>
      I am a Senior UX Engineer at <a href="https://google.com">Google</a>. From 2013 to 2018, I worked on <a href="https://nest.com">nest.com</a>. Since 2018 I have been working on the <a href="https://store.google.com">Google Store</a>; building and improving the web experience.
    </p>
    <p>
      Outside of work, I listen to music, play some instruments, do some camping, and more or less try to enjoy the life I lead.
    </p>
    <p>
      You can find me on the internet in some other places.
      <% const contactLinks = [
          { copy: 'Twitter', url: locals.twitter, },
          { copy: 'Last.fm', url: locals.lastfm, },
          { copy: 'Github', url: locals.github, },
          { copy: 'LinkedIn', url: locals.linkedin, },
        ].map(item => {
          return `
          <a href="${item.url}"
            itemprop="url"
            target="blank"
            rel="noopener">
            ${item.copy}
          </a>`;
        });
      %>
      <%- contactLinks.join(', ') %>.
    </p>
  </div>
</section>


<section class="thoughts">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("I have thoughts. Here are some recent ones."); %>
      </h2>
    </header>
  </div>
  <ul id="thoughts-list" class="content">
    <%
      const basePages = getChildPages('thoughts');
      const newestPages = basePages.sort((pageA, pageB) => {
        const dateA = new Date(pageA.data.date);
        const dateB = new Date(pageB.data.date);
        return (dateA < dateB) ? 1 : -1;
      });
      newestPages.slice(0,4).forEach(({ url, data: { date, description, title }}) => {
    %>
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a itemprop="url" href="/<%- url %>">
        <h3 itemprop="name"><%- noWidows(title) %></h3>
        <figcaption itemprop="description">
          <%- noWidows(description) %>
        </figcaption>
        <date itemprop="datePublished" content="<%- date %>">
          <%- formattedDate(date) %>
        </date>
        <meta itemprop="author" content="Brian Anders"/>
        <meta itemprop="publisher" content="Brian Anders"/>
      </a>
    </li>
    <% }); %>
  </ul>
  <div class="content center">
    <a itemprop="url" href="/thoughts/"
        class="button">
      See more
    </a>
  </div>
</section>


<section class="index-music">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("What I've been listening to."); %>
      </h2>
      <p>
        <%- noWidows("Music is a big deal to me. I am always looking for my next favorite album. Last.fm is a tool that I use to track my listening habits. Here are some of the albums that I have been listening to recently."); %>
      </p>
    </header>
    <div class='last-fm-module p' data-type="albums"></div>
    <div class="center">
      <a itemprop="url" href="/thoughts/last-fm/"
         class="button">
        See more
      </a>
    </div>
  </div>
</section>


<section>
  <div class="content">
    <header>
      <h2>
        <%- noWidows("What I've been screaming into the abyss."); %>
      </h2>
      <p class="center">
        ==> <a href="<%- locals.twitter %>?ref_src=twsrc%5Etfw"
          itemprop="url"
          target="blank"
          rel="noopener">
          @<%- locals.twitterHandle %>
        </a> <==
      </p>
    </header>
    <p>
      <a class="twitter-timeline"
        href="<%- locals.twitter %>?ref_src=twsrc%5Etfw"
        itemprop="url"
        target="blank"
        rel="noopener">
        Tweets by @<%- locals.twitterHandle %>
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </div>
</section>