---
title: "Home"
altTitle: "Hi, I'm Brian."
description: "Brian Anders is a Senior UX Engineer at Google"
priority: 1.0
pageClasses:
  - 'main'
  - 'home'
layout: base
styles:
  - 'main'
  - 'homepage'
---



<section class="intro">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("Who am I?"); %>
      </h2>
    </header>
    <p>
      I am a Senior UX Engineer at <%- externalLink("Google", { href: "https://google.com" }) %>. From 2013 to 2018, I worked on <%- externalLink("nest.com", { href: "https://nest.com" }) %>. Since 2018 I have been working on the <%- externalLink("Google Store", { href: "https://store.google.com" }) %>; building and improving the web experience.
    </p>
    <p>
      Outside of work, I listen to music, play some instruments, do some camping, and more or less try to enjoy the life I lead.
    </p>
    <p>
      You can find me on the internet in some other places.
      <% const contactLinks = [
          { copy: 'Twitter', url: locals.twitter, },
          { copy: 'Last.fm', url: locals.lastfm, },
          { copy: 'Github', url: locals.github, },
          { copy: 'LinkedIn', url: locals.linkedin, },
        ].map(item => externalLink(item.copy, {
          href: item.url,
          itemprop: "url",
          target: "blank",
          rel: "noopener",
        }));
      %>
      <%- contactLinks.join(', ') %>.
    </p>
  </div>
</section>


<section class="thoughts">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("I have thoughts. Here are some recent ones."); %>
      </h2>
    </header>
  </div>
  <%- partial('thoughts-list', Object.assign(locals, { thoughtCount: 6 })) %>
  <div class="content center">
    <%- link('See more', {
      href: "/thoughts/",
      class: "button",
    }) %>
  </div>
</section>


<section class="index-music">
  <div class="content">
    <header>
      <h2>
        <%- noWidows("What I've been listening to."); %>
      </h2>
      <p>
        <%- noWidows("Music is a big deal to me. I am always looking for my next favorite album. Last.fm is a tool that I use to track my listening habits. Here are some of the albums that I have been listening to recently."); %>
      </p>
    </header>
    <div class='last-fm-module p' data-type="albums"></div>
    <div class="center">
    <%- link('See more', {
      href: "/thoughts/last-fm/",
      class: "button",
    }) %>
    </div>
  </div>
</section>


<section>
  <div class="content">
    <header>
      <h2>
        <%- noWidows("What I've been screaming into the abyss."); %>
      </h2>
      <p class="center">
        &#61;&#61;&gt;
        <%- externalLink(`@${locals.twitterHandle}`, {
          href: `${locals.twitter}?ref_src=twsrc%5Etfw`
        }) %>
        &lt;&#61;&#61;
      </p>
    </header>
    <p>
      <%- externalLink(`Tweets by @${locals.twitterHandle}`, {
        class: "twitter-timeline",
        href: `${locals.twitter}?ref_src=twsrc%5Etfw`,
        'data-height': "800",
        'data-theme': "light",
      }) %>
    </p>
  </div>
  <script>
    (function() {
      const timelineElement = document.querySelector('.twitter-timeline[data-theme]');
      if(matchMedia('(prefers-color-scheme: dark)').matches) {
        timelineElement.dataset.theme = 'dark';
      }
    })();
  </script>
  <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>