---
title: "Movies"
description: "I've been watching movies my whole life. I enjoy them quite a lot. I use IMDb to rate movies, so I use their ten star system. Here is a list of movies that I have rated at ten stars. See my imdb profile for more ratings."
date: 2022-03-19
priority: 0.8
pageClasses:
  - 'recommendations movies'
layout: base
styles:
  - 'main'
  - 'recommendations/movies'
---

<p><%- externalLink("My IMDb profile", { href: locals.imdb }); %></p>


<article itemscope itemtype="http://schema.org/BlogPosting" class="container">

  <div class="section-container">
  <%
    const movies = [
      {
        name: 'Psycho',
        description: `A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother.`,
        imageSrc: '/images/recommendations/movies/psycho.webp',
        imdb: {
          id: 'tt0054215',
          year: '1960',
        },
      },
      {
        name: 'Indiana Jones and the Last Crusade',
        description: `In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones, Jr. finds himself up against Adolf Hitler's Nazis again to stop them from obtaining its powers.`,
        imageSrc: '/images/recommendations/movies/indiana-jones-and-the-last-crusade.webp',
        imdb: {
          id: 'tt0097576',
          year: '1989',
        },
      },
      {
        name: 'Up',
        description: `78-year-old Carl Fredricksen travels to Paradise Falls in his house equipped with balloons, inadvertently taking a young stowaway.`,
        imageSrc: '/images/recommendations/movies/up.webp',
        imdb: {
          id: 'tt1049413',
          year: '2009',
        },
      },
      {
        name: 'The Matrix',
        description: `When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.`,
        imageSrc: '/images/recommendations/movies/the-matrix.webp',
        imdb: {
          id: 'tt0133093',
          year: '1999',
        },
      },
      {
        name: 'Goodfellas',
        description: `The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.`,
        imageSrc: '/images/recommendations/movies/goodfellas.webp',
        imdb: {
          id: 'tt0099685',
          year: '1990',
        },
      },
      {
        name: 'Indiana Jones and the Raiders of the Lost Ark',
        description: `In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before Adolf Hitler's Nazis can obtain its awesome powers.`,
        imageSrc: '/images/recommendations/movies/raiders-of-the-lost-ark.webp',
        imdb: {
          id: 'tt0082971',
          year: '1981',
        },
      },
      {
        name: 'The Adventures of Tintin',
        description: `Intrepid reporter Tintin and Captain Haddock set off on a treasure hunt for a sunken ship commanded by Haddock's ancestor.`,
        imageSrc: '/images/recommendations/movies/the-adventures-of-tintin.webp',
        imdb: {
          id: 'tt0983193',
          year: '2011',
        },
      },
      {
        name: 'Catch Me If You Can',
        description: `Barely 21 yet, Frank is a skilled forger who has passed as a doctor, lawyer and pilot. FBI agent Carl becomes obsessed with tracking down the con man, who only revels in the pursuit.`,
        imageSrc: '/images/recommendations/movies/catch-me-if-you-can.webp',
        imdb: {
          id: 'tt0264464',
          year: '2002',
        },
      },
      {
        name: `The King's Speech`,
        description: `The story of King George VI, his impromptu ascension to the throne of the British Empire in 1936, and the speech therapist who helped the unsure monarch overcome his stammer.`,
        imageSrc: '/images/recommendations/movies/the-king-s-speech.webp',
        imdb: {
          id: 'tt1504320',
          year: '2010',
        },
      },
      {
        name: 'The Man from U.N.C.L.E.',
        description: `In the early 1960s, CIA agent Napoleon Solo and KGB operative Illya Kuryakin participate in a joint mission against a mysterious criminal organization, which is working to proliferate nuclear weapons.`,
        imageSrc: '/images/recommendations/movies/the-man-from-uncle.webp',
        imdb: {
          id: 'tt1638355',
          year: '2015',
        },
      },
      {
        name: 'The Girl with the Dragon Tattoo',
        description: `Journalist Mikael Blomkvist is aided in his search for a woman who has been missing for forty years by Lisbeth Salander, a young computer hacker.`,
        imageSrc: '/images/recommendations/movies/the-girl-with-the-dragon-tattoo.webp',
        imdb: {
          id: 'tt1568346',
          year: '2011',
        },
      },
      {
        name: 'Inside Out',
        description: `After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.`,
        imageSrc: '/images/recommendations/movies/inside-out.webp',
        imdb: {
          id: 'tt2096673',
          year: '2015',
        },
      },
      {
        name: 'The Pianist',
        description: `A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II.`,
        imageSrc: '/images/recommendations/movies/the-pianist.webp',
        imdb: {
          id: 'tt0253474',
          year: '2002',
        },
      },
      {
        name: 'Super 8',
        description: `During the summer of 1979, a group of friends witness a train crash and investigate subsequent unexplained events in their small town.`,
        imageSrc: '/images/recommendations/movies/super-8.webp',
        imdb: {
          id: 'tt1650062',
          year: '2011',
        },
      },
      {
        name: 'V for Vendetta',
        description: `In a future British dystopian society, a shadowy freedom fighter, known only by the alias of "V", plots to overthrow the tyrannical government - with the help of a young woman.`,
        imageSrc: '/images/recommendations/movies/v-for-vendetta.webp',
        imdb: {
          id: 'tt0434409',
          year: '2005',
        },
      },
      {
        name: 'Spy Game',
        description: `Retiring CIA agent Nathan Muir recalls his training of Tom Bishop while working against agency politics to free him from his Chinese captors.`,
        imageSrc: '/images/recommendations/movies/spy-game.webp',
        imdb: {
          id: 'tt0266987',
          year: '2001',
        },
      },
      {
        name: 'The Green Mile',
        description: `The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.`,
        imageSrc: '/images/recommendations/movies/the-green-mile.webp',
        imdb: {
          id: 'tt0120689',
          year: '1999',
        },
      },
      {
        name: 'Shutter Island',
        description: `In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane.`,
        imageSrc: '/images/recommendations/movies/shutter-island.webp',
        imdb: {
          id: 'tt1130884',
          year: '2010',
        },
      },
      {
        name: 'WALL·E',
        description: `In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.`,
        imageSrc: '/images/recommendations/movies/wall-e.webp',
        imdb: {
          id: 'tt0910970',
          year: '2008',
        },
      },
      {
        name: 'The Incredibles',
        description: `A family of undercover superheroes, while trying to live the quiet suburban life, are forced into action to save the world.`,
        imageSrc: '/images/recommendations/movies/the-incredibles.webp',
        imdb: {
          id: 'tt0317705',
          year: '2004',
        },
      },
      {
        name: 'The Last Samurai',
        description: `An American military advisor embraces the Samurai culture he was hired to destroy after he is captured in battle.`,
        imageSrc: '/images/recommendations/movies/the-last-samurai.webp',
        imdb: {
          id: 'tt0325710',
          year: '2003',
        },
      },
      {
        name: 'Drive',
        description: `An action drama about a mysterious Hollywood stuntman and mechanic who moonlights as a getaway driver, and finds himself in trouble when he helps out his neighbor.`,
        imageSrc: '/images/recommendations/movies/drive.webp',
        imdb: {
          id: 'tt0780504',
          year: '2011',
        },
      },
      {
        name: 'Gone Girl',
        description: `With his wife's disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it's suspected that he may not be innocent.`,
        imageSrc: '/images/recommendations/movies/gone-girl.webp',
        imdb: {
          id: 'tt2267998',
          year: '2014',
        },
      },
      {
        name: 'Finding Forrester',
        description: `A young writing prodigy finds a mentor in a reclusive author.`,
        imageSrc: '/images/recommendations/movies/finding-forrester.webp',
        imdb: {
          id: 'tt0181536',
          year: '2000',
        },
      },
      {
        name: 'Fight Club',
        description: `An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.`,
        imageSrc: '/images/recommendations/movies/fight-club.webp',
        imdb: {
          id: 'tt0137523',
          year: '1999',
        },
      },
      {
        name: 'Avatar',
        description: `A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.`,
        imageSrc: '/images/recommendations/movies/avatar.webp',
        imdb: {
          id: 'tt0499549',
          year: '2009',
        },
      },
      {
        name: 'Sherlock Holmes',
        description: `Detective Sherlock Holmes and his stalwart partner Watson engage in a battle of wits and brawn with a nemesis whose plot is a threat to all of England.`,
        imageSrc: '/images/recommendations/movies/sherlock-holmes.webp',
        imdb: {
          id: 'tt0988045',
          year: '2009',
        },
      },
      {
        name: 'Limitless',
        description: `With the help of a mysterious pill that enables the user to access 100% of his brain's abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with many dangers.`,
        imageSrc: '/images/recommendations/movies/limitless.webp',
        imdb: {
          id: 'tt1219289',
          year: '2011',
        },
      },
      {
        name: 'Snatch',
        description: `Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond.`,
        imageSrc: '/images/recommendations/movies/snatch.webp',
        imdb: {
          id: 'tt0208092',
          year: '2000',
        },
      },
      {
        name: 'The Shawshank Redemption',
        description: `Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.`,
        imageSrc: '/images/recommendations/movies/the-shawshank-redemption.webp',
        imdb: {
          id: 'tt0111161',
          year: '1994',
        },
      },
      {
        name: 'Good Will Hunting',
        description: `Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.`,
        imageSrc: '/images/recommendations/movies/good-will-hunting.webp',
        imdb: {
          id: 'tt0119217',
          year: '1997',
        },
      },
      {
        name: 'TRON: Legacy',
        description: `The son of a virtual world designer goes looking for his father and ends up inside the digital world that his father designed. He meets his father's corrupted creation and a unique ally who was born inside the digital world.`,
        imageSrc: '/images/recommendations/movies/t-r-o-n-legacy.webp',
        imdb: {
          id: 'tt1104001',
          year: '2010',
        },
      },
      {
        name: 'The Batman',
        description: `When the Riddler, a sadistic serial killer, begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.`,
        imageSrc: '/images/recommendations/movies/the-batman.webp',
        imdb: {
          id: 'tt1877830',
          year: '2022',
        },
      },
      {
        name: 'Inception',
        description: `A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.`,
        imageSrc: '/images/recommendations/movies/inception.webp',
        imdb: {
          id: 'tt1375666',
          year: '2010',
        },
      },
      {
        name: 'Star Wars',
        description: `Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.`,
        imageSrc: '/images/recommendations/movies/star-wars-episode-i-v-a-new-hope.webp',
        imdb: {
          id: 'tt0076759',
          year: '1977',
        },
      },
      {
        name: 'Saving Private Ryan',
        description: `Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.`,
        imageSrc: '/images/recommendations/movies/saving-private-ryan.webp',
        imdb: {
          id: 'tt0120815',
          year: '1998',
        },
      },
      {
        name: 'Life of Pi',
        description: `A young man who survives a disaster at sea is hurtled into an epic journey of adventure and discovery. While cast away, he forms an unexpected connection with another survivor: a fearsome Bengal tiger.`,
        imageSrc: '/images/recommendations/movies/life-of-pi.webp',
        imdb: {
          id: 'tt0454876',
          year: '2012',
        },
      },
      {
        name: 'Jurassic Park',
        description: `A pragmatic paleontologist touring an almost complete theme park on an island in Central America is tasked with protecting a couple of kids after a power failure causes the park's cloned dinosaurs to run loose.`,
        imageSrc: '/images/recommendations/movies/jurassic-park.webp',
        imdb: {
          id: 'tt0107290',
          year: '1993',
        },
      },
      {
        name: 'Vanilla Sky',
        description: `A self-indulgent and vain publishing magnate finds his privileged life upended after a vehicular accident with a resentful lover.`,
        imageSrc: '/images/recommendations/movies/vanilla-sky.webp',
        imdb: {
          id: 'tt0259711',
          year: '2001',
        },
      },
      {
        name: 'Saving Mr. Banks',
        description: `Author P.L. Travers reflects on her childhood after reluctantly meeting with Walt Disney, who seeks to adapt her Mary Poppins books for the big screen.`,
        imageSrc: '/images/recommendations/movies/saving-mr-banks.webp',
        imdb: {
          id: 'tt2140373',
          year: '2013',
        },
      },
      {
        name: 'Interstellar',
        description: `A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.`,
        imageSrc: '/images/recommendations/movies/interstellar.webp',
        imdb: {
          id: 'tt0816692',
          year: '2014',
        },
      },
      {
        name: 'Star Trek Into Darkness',
        description: `After the crew of the Enterprise find an unstoppable force of terror from within their own organization, Captain Kirk leads a manhunt to a war-zone world to capture a one-man weapon of mass destruction.`,
        imageSrc: '/images/recommendations/movies/star-trek-into-darkness.webp',
        imdb: {
          id: 'tt1408101',
          year: '2013',
        },
      },
      {
        name: 'The Theory of Everything',
        description: `A look at the relationship between the famous physicist Stephen Hawking and his wife.`,
        imageSrc: '/images/recommendations/movies/the-theory-of-everything.webp',
        imdb: {
          id: 'tt2980516',
          year: '2014',
        },
      },
      {
        name: 'The Terminal',
        description: `An Eastern European tourist unexpectedly finds himself stranded in JFK airport, and must take up temporary residence there.`,
        imageSrc: '/images/recommendations/movies/the-terminal.webp',
        imdb: {
          id: 'tt0362227',
          year: '2004',
        },
      },
      {
        name: 'Minority Report',
        description: `In a future where a special police unit is able to arrest murderers before they commit their crimes, an officer from that unit is himself accused of a future murder.`,
        imageSrc: '/images/recommendations/movies/minority-report.webp',
        imdb: {
          id: 'tt0181689',
          year: '2002',
        },
      },
      {
        name: 'Star Wars: Episode VI - Return of the Jedi',
        description: `After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's trap.`,
        imageSrc: '/images/recommendations/movies/star-wars-episode-v-i-return-of-the-jedi.webp',
        imdb: {
          id: 'tt0086190',
          year: '1983',
        },
      },
      {
        name: 'Star Wars: Episode V - The Empire Strikes Back',
        description: `After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.`,
        imageSrc: '/images/recommendations/movies/star-wars-episode-v-the-empire-strikes-back.webp',
        imdb: {
          id: 'tt0080684',
          year: '1980',
        },
      },
    ];

    const sortedMovies = movies.sort((firstElement, secondElement) => (firstElement.imdb.year > secondElement.imdb.year) ? -1 : 1);

    sortedMovies.forEach(movie => {
  %>
    <section>
      <%- lazyImage({
        src: movie.imageSrc,
        alt: `${movie.name} movie poster`,
        classString: 'cover',
        }); %>
      <div class="details">
        <h2 class="h3">
          <%- movie.name %> (<%- movie.imdb.year %>)
        </h2>
        <p class="description">
          <%- movie.description %>
        </p>
        <div class="links">
          <%- externalLink('IMDb Page', {
            href: `https://www.imdb.com/title/${movie.imdb.id}`,
          }); %>
        </div>
      </div>
    </section>
  <% }); %>
  </div>
</article>
