---
title: "Git Tip: How to get rid of untracked files from your local git"
description: "Do you ever have a bunch of files show up in your git diff that don’t belong? Rather than manually deleting each of those files, run this simple command."
date: 2018-11-03
priority: 0.8
pageClasses:
  - 'thoughts'
layout: base
styles:
  - 'main'
  - 'thoughts/code'
---

<article class="content" itemscope itemtype="https://schema.org/BlogPosting">

  <p>
    <%- noWidows(`<strong>TL;DR:</strong> ${externalLink('git clean', { href: 'https://git-scm.com/docs/git-clean' })} documentation here.`); %>
  </p>

  <p>
    <%- noWidows("If you have ever changed branches in Git, to find a lot of extra files that don’t belong on the branch, here’s what you need to know. It’s not fun to manually delete every file or directory. In the past I have seen people <var>rm</var> and then <var>git checkout</var> whole folders to clean up extra untracked files. Thankfully, there’s this better way - built into Git, even!"); %>
  </p>

  <%- code(
`git clean`, {
  language: 'excel',
}); %>

  <p>
    <%- noWidows('Git clean, "Cleans the working tree by recursively removing files that are not under version control, starting from the current directory." There are flags that you can pass to extend the <var>git clean</var> functionality.'); %>
  </p>

  <p>
    <%- noWidows("<strong>-n</strong> or <strong>--dry-run</strong> will not delete anything; only list the files that are to be deleted."); %>
  </p>

  <%- code(
`git clean -n`, {
  language: 'excel',
}); %>

  <p>
    <%- noWidows("<strong>-d</strong> will remove untracked directories as well as files. If an directory is managed by a different Git repo, it will not be removed."); %>
  </p>

  <%- code(
`git clean -d`, {
  language: 'excel',
}); %>

  <p>
    <%- noWidows("<strong>-f</strong> will force the deletion of files or directory. So this is the option that I use the most just for simplicity."); %>
  </p>

  <%- code(
`git clean -f
git clean -fd`, {
  language: 'excel',
}); %>

  <p>
    <%- noWidows("And if you want to clean out a certain directory - without deleting files in that directory that are tracked - you can provide a path as an argument."); %>
  </p>

  <%- code(
`git clean path/to/file
git clean -n path/to/file
git clean -d path/to/folder/or/file
git clean -f path/to/file
git clean -fd path/to/folder/or/file`, {
  language: 'excel',
}); %>

  <p>
    <%- noWidows("I hope this is helpful!"); %>
  </p>

</article>