---
title: "Quality Podcasts"
description: "Here I've pulled together a short list of my favorite podcasts. If you enjoy learning things, this is the list for you!"
date: 2016-03-14
priority: 0.8
layout: base
styles:
  - 'main'
  - 'thoughts/quality-podcasts'
---



<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
  <blockquote>
    <p>A podcast is an episodic series of digital audio files which a user can subscribe to so that new episodes are automatically downloaded via web syndication to the user's own local computer, mobile application, or portable media player.</p>
    <p>The word arose as a portmanteau of "iPod" (a brand of media player) and "broadcast". Thus, the files distributed are in audio format, but may sometimes include other file formats such as PDF or ePub. Videos which are shared following a podcast model are called video podcasts or vodcasts.</p>
    <cite>
      <%- externalLink('Wikipedia.org', { href: 'https://en.wikipedia.org/wiki/Podcast' }) %>
    </cite>
  </blockquote>

  <p>
    Podcasts have become a large part of my life. Brian has always enjoyed audio books, but the downside to audio books is that they are a big time commitment. Podcasts, being episodic and often serial by nature are built as a much more digestible, bite-sized format. Below you'll see some podcasts that I could fairly describe a life changing. No joke. The more you learn about the world, the greater your perspective becomes, and the better your judgement becomes, at least in my opinion. These shows have expanded my perspective and made me a better member of society.
  </p>



  <%
    const podcasts = [
      {
        name: "Stuff you should know",
        imgUrl: "/images/thoughts/quality-podcasts/stuff-you-should-know.jpg",
        url: "http://www.stuffyoushouldknow.com/",
        wiki: "https://en.wikipedia.org/wiki/Stuff_You_Should_Know",
        description: `Josh Clark and Charles W. "Chuck" Bryant are the hosts of this finest podcast. The first time I really started listening to them was back in the summer of 2011 when I was commuting between my internship, and where I was staying in Houston, TX. I latched on to the quality of the content and held by the chemistry between this two. Over that summer I listened to every single episode since they first started airing (April 2008). Since, Brian has kept up listening and I think they are nearing 1000 episodes.</p><p>If you enjoy learning the background of random subjects, this is the show for you. They have covered widely varying topics. From the nuclear triad, to the history of Barbie dolls. Their last two years of episodes have been particularly interesting. I really enjoyed "The "Satanic Panic" of the 1980s", "How Triage Works", and their one-off long-form purchasable episode on DB Cooper. Anyway, they are the top of this list for a reason. Check them out.`,
      }, {
        name: "Reply All",
        imgUrl: "/images/thoughts/quality-podcasts/reply-all.jpg",
        url: "https://gimletmedia.com/reply-all/",
        wiki: "https://en.wikipedia.org/wiki/Reply_All_(podcast)",
        description: `Reply All is a podcast in the ${externalLink('Gimlet Media', { href: 'https://gimletmedia.com/' })} family of podcasts. Hosted by PJ Vogt and Alex Goldman, Reply All takes a look at all things technology. In actuality, they just cover all things... Technology optional. I enjoy listening to them cover a wide variety of topics. They recently had an excellent episode called 'What Kind of Idiot Gets Phished?' that covers just how tricky phishing schemes can be. The short takes on it are 1) check, and double check the FROM field on an email, and 2) two-factor auth can be beaten.</p><p>This podcast is pretty young, having only been on-the-air since November 2014. At the writing of this, they're at episode 99.`,
      }, {
        name: "Radio Lab",
        imgUrl: "/images/thoughts/quality-podcasts/radio-lab.png",
        url: "http://www.radiolab.org/",
        wiki: "https://en.wikipedia.org/wiki/Radiolab",
        description: `Their website says, 'Radiolab is a show about curiosity. Where sound illuminates ideas, and the boundaries blur between science, philosophy, and human experience.' This is a fair description. Radiolab has wide arms and covers a variety of topics. But of the podcasts listed here, Radiolab is among the most thought-provoking. From the episodes about fungi that allow trees to communicate, to the health risks associated with playing football at any age.</p><p>The hosts of this show, Jad Abumrad and Robert Krulwich, have a deep sense of morality. A sense that comes through when discussing any topic. They could write Black Mirror episodes, as they have the ability to feel around the edges of any topic, looking for the pros and cons. Their commentary on any topic will expand your own perspective.</p><p>Here's a description from their website that describes one fascinating topic: 'Come election season, it's easy to get cynical. Why cast a ballot if your single measly vote can't possibly change anything? In this episode, we search for the single vote that made all the difference, from the biggest election on the planet, to a tiny election that ended a town.' If that sounds good to you, jump in.`,
      }, {
        name: "Radio Lab Presents: More Perfect",
        imgUrl: "/images/thoughts/quality-podcasts/radio-lab-presents-more-perfect.png",
        url: "http://www.wnyc.org/shows/radiolabmoreperfect/",
        description: `From the website: \"Supreme Court decisions shape everything from marriage and money to public safety and sex. We know these are very important decisions we should all pay attention to – but they often feel untouchable and even unknowable. Radiolab's first ever spin-off series, More Perfect, connects you to the decisions made inside the court's hallowed halls, and explains what those rulings mean for \"we the people\" who exist far from the bench. More Perfect bypasses the wonkiness and tells stories behind some of the court’s biggest rulings.\"</p><p>This show highlights some of the more interesting aspects of the United States government, and the balance of power that was defined long ago by our fore-fathers. The balance of power that has been tweaked and changed over the years in the goal of creating a more perfect union. I think you should check it out. But it might give you an ulcer`,
      }, {
        name: "Freakonomics",
        imgUrl: "/images/thoughts/quality-podcasts/freakonomics.png",
        url: "http://freakonomics.com/",
        wiki: "https://en.wikipedia.org/wiki/Freakonomics_Radio",
        description: `A show where they 'explore the hidden side of everything', Freakonomics is a fun and interesting radio show that will take a look at anything. But really, it's a look at anything through the lense of behavioral economics. Inspired by the book of the same name, economist Steven Levitt and journalist Stephen Dubner, expand upon their book (now books) through the flexible format of audio. In the show, they have interviews with people of all backgrounds. These shows are often a bit longer, but the extra time is well worth it. One episode that I recommend is about sunk costs and opportunity costs through a lense that we can all understand. 'The Upside of Quitting' confronts the idea that 'winners never quit', and question the accuracy of that concept.`,
      }, {
        name: "Revisionist History",
        imgUrl: "/images/thoughts/quality-podcasts/revisionist-history.jpg",
        url: "http://revisionisthistory.com/",
        wiki: "https://en.wikipedia.org/wiki/Revisionist_History_(podcast)",
        description: `Revisionist History is Malcolm Gladwell's podcast. He goes back to interesting moments in history and re-reports them, always taking on a novel perspective. His follow-up reporting gives you a fuller picture of the historical events. My favorite is the episode about the Toyota sticky gas pedal episode; the conclusion that he presents blew my mind.`,
      }, {
        name: "99% Invisible",
        imgUrl: "/images/thoughts/quality-podcasts/99-invisible.png",
        url: "http://99percentinvisible.org/",
        wiki: "https://en.wikipedia.org/wiki/99%25_Invisible",
        description: `99% Invisible covers mainly architecture, but their motto is "99% of good design is invisible". If you like interesting facts, or the history behind systems or decisions, this is the show for you. Roman Mars reports from "beautiful, downtown Oakland, California" and has taught me more than whole courses in school did. My favorite episode is about baseball stadiums. I'm not a sports person, but the history around the transition from unique baseball stadiums to concrete donuts and back is surprisingly interesting. The show is filled with nuggets like that.`,
      }, {
        name: "Startup",
        imgUrl: "/images/thoughts/quality-podcasts/startup.png",
        url: "https://gimletmedia.com/startup/",
        wiki: "https://en.wikipedia.org/wiki/StartUp_(podcast)",
        description: `It is very meta, but the startup is a podcast about a guy that runs a podcast startup. The show starts with his venture capital pitches, and continues on through the growth of the company. In later seasons, the show covers other startup businesses, and I found it to be insightful into how ambitious businesses operate, focussing on growth and agility.`,
      }, {
        name: "Crimetown",
        imgUrl: "/images/thoughts/quality-podcasts/crimetown.png",
        url: "https://gimletmedia.com/crimetown/",
        wiki: "https://en.wikipedia.org/wiki/Gimlet_Media#Crimetown",
        description: `Crimetown follows fascinating true crime reporting on how power can corrupt. In each season, the show tells the story about how a powerful individual in government abuses their power. Both stories have twists and turns, and in moments will shock you.`,
      }
    ];

    podcasts.forEach(podcast => {
  %>
    <section id="<%- podcast.name.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase(); %>">
      <header>
        <%- lazyImage({ src: podcast.imgUrl, alt: podcast.name, class: 'podcast-cover' }) %>
        <h2><%- podcast.name %></h2>
      </header>
      <p>
        <% if (podcast.description) { %>
          <%- podcast.description %>
        <% } else { %>
          My thoughts on this podast, coming soon.
        <% } %>
      </p>
      <p>
        Learn more
        <%- externalLink('at their website', {
          itemprop: 'url',
          href: podcast.url,
          target: 'blank',
          rel: 'noopener',
        }) %>

        <% if (podcast.wiki) { %>
          and
          <%- externalLink('on wikipedia', {
            itemprop: 'url',
            href: podcast.wiki,
            target: 'blank',
            rel: 'noopener',
          }) %>
        <% } %>
      </p>
    </section>
  <% }); %>
</article>