---
title: "Website Optimization Testing"
description: "There are a few important levers"
date: 2022-12-03
priority: 0.8
pageClasses:
  - 'thoughts website-optimization-tests'
layout: base
styles:
  - 'main'
  - 'thoughts/website-optimization-tests'
scripts:
  - 'thoughts/website-optimization-tests'
---



<section>
  <header class="container">
    <h2>
      The Results
    </h2>
  </header>



  <div class="container">
    <form>
      <div>
        Styles
        <select name="styles">
          <option value="inline" > Inline Styles </option>
          <option value="deferred" > Deferred Styles </option>
          <option value="linked" > Linked - Render Blocking Styles </option>
        </select>
      </div>
      <div>
        SVGs
        <select name="svgs">
          <option value="inline" > Inline </option>
          <option value="linked" > Linked </option>
        </select>
      </div>
      <div>
        Custom Fonts
        <select name="fonts">
          <option value="none"> None </option>
          <option value="linked" > Linked - Render Blocking </option>
          <option value="deferred" > Linked - Deferred </option>
          <option value="swap" > Linked - Swap </option>
        </select>
      </div>
    </form>



    <div id="table">
      <row>
        <cell>Test Page</cell>
        <cell>Pagespeed Insights</cell>
        <cell>Mobile</cell>
        <cell>Desktop</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Control', { 
            href: '/example/optimization/a/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/a/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>98</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles', { 
            href: '/example/optimization/b/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/b/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>97</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles', { 
            href: '/example/optimization/c/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/c/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>98</cell>  
        <cell>100</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline SVGs', { 
            href: '/example/optimization/d/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/d/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>98</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Inline SVGs', { 
            href: '/example/optimization/e/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/e/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>85</cell>  
        <cell>85</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Inline SVGs', { 
            href: '/example/optimization/f/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/f/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>99</cell>  
        <cell>100</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Custom Fonts', { 
            href: '/example/optimization/g/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/g/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>92</cell>  
        <cell>97</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Custom Fonts', { 
            href: '/example/optimization/h/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/h/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>90</cell>  
        <cell>87</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Custom Fonts', { 
            href: '/example/optimization/i/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/i/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>91</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline SVGs + Custom Fonts', { 
            href: '/example/optimization/j/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/j/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>89</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Inline SVGs + Custom Fonts', { 
            href: '/example/optimization/k/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/k/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>76</cell>  
        <cell>84</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Inline SVGs + Custom Fonts', { 
            href: '/example/optimization/l/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/l/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>90</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/m/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/m/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>92</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/n/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/n/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>89</cell>  
        <cell>87</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/o/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/o/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>81</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline SVGs + Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/p/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/p/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>87</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Inline SVGs + Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/q/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/q/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>84</cell>  
        <cell>84</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Inline SVGs + Custom Fonts + Custom Fonts Deferred', { 
            href: '/example/optimization/r/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/r/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>95</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Custom Fonts + Custom Fonts Swap', { 
            href: '/example/optimization/s/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/s/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>91</cell>  
        <cell>98</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Custom Fonts + Custom Fonts Swap', { 
            href: '/example/optimization/t/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/t/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>82</cell>  
        <cell>86</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Custom Fonts + Custom Fonts Swap', { 
          href: '/example/optimization/u/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/u/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>89</cell>  
        <cell>99</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline SVGs + Custom Fonts + Custom Fonts Swap', { 
          href: '/example/optimization/v/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/v/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>90</cell>  
        <cell>97</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Inline SVGs + Custom Fonts + Custom Fonts Swap', { 
          href: '/example/optimization/w/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/w/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>77</cell>  
        <cell>84</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Inline SVGs + Custom Fonts + Custom Fonts Swap', { 
          href: '/example/optimization/x/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/x/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>89</cell>  
        <cell>98</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/y/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/y/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>88</cell>  
        <cell>98</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/z/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/z/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell>  
        <cell>89</cell>  
        <cell>87</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/aa/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/aa/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell> 
        <cell>90</cell>  
        <cell>98</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline SVGs + Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/ab/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/ab/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell> 
        <cell>85</cell>  
        <cell>98</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Defer Styles + Inline SVGs + Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/ac/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/ac/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell> 
        <cell>81</cell>  
        <cell>85</cell>
      </row>



      <row data-fonts="none" data-svgs="linked" data-styles="linked">
        <cell>
          <%- link('Inline Styles + Inline SVGs + Custom Fonts + Custom Fonts Swap + Custom Fonts Deferred', { 
          href: '/example/optimization/ad/', 
          }); %>
        </cell>
        <cell>
          <%- externalLink('Test it yourself', {
            href: 'https://pagespeed.web.dev/report?url=https://briananders.net/example/optimization/ad/',
            'aria-label': 'Test the results yourself using the Pagespeed Insights tool',
          }); %>
        </cell> 
        <cell>94</cell>  
        <cell>99</cell>
      </row>



    </div>
  </div>
</section>
