---
title: "Elementary Cellular Automaton"
description: "If you've ever heard of Conway’s The Game of Life, you may already have an idea of what this is. If not, now worries, it’s not that crazy of a concept."
date: 2018-02-23
priority: 0.8
pageClasses:
  - 'posts'
  - 'cellular-automaton'
layout: base
styles:
  - 'main'
  - 'posts/cellular-automaton'
scripts:
  - 'posts/cellular-automaton'
---

<blockquote>
  <p><%- noWidows(`An automaton (plural: automata or automatons) is a self-operating machine, or a machine or control mechanism designed to automatically follow a predetermined sequence of operations, or respond to predetermined instructions.`) %></p>
  <cite>
    <%- externalLink("Wikipedia.org", { href: 'https://en.wikipedia.org/wiki/Automaton' }); %>
  </cite>
</blockquote>

<div class="content">
  <p>
    <%- noWidows(`Cells are very basic. They are black or white. Alive or dead. Binary.`) %>
  </p>

  <p>
    <%- noWidows(`The animation below, is a 1 dimensional world of cells. That one dimension is on the horizontal axis. Time is the vertical axis, moving from the top to the bottom.`) %>
  </p>

  <p>
    <%- noWidows(`The way life plays out in this world is absolutely declarative. The second line is derived from the first line, by a series of rules; the third from the second, and so on. There is no free will.`) %>
  </p>

  <p>
    <%- noWidows(`The rules are simple.`) %>
  </p>
  <ol>
    <li><%- noWidows(`Each "world" (or Automaton) starts with a single dark cell. I position it in the center.`) %></li>
    <li><%- noWidows(`Each cell’s color, is decided by the 3 cells immediately above it`) %></li>
    <li><%- noWidows(`The key to each world’s evolution is in the “rule”`) %></li>
  </ol>
  <p>
    <%- noWidows(`Now let’s unpack what that means.`) %>
  </p>

  <p>
    <%- noWidows(`Each cell’s color, is decided by the 3 cells immediately above it, in the shape of a capital T. Those three "parents" form a 3 digit binary sequence. 0 is white and 1 is black. There are 8 possible combinations of white and black values in a string of length 3.`) %>
  </p>
  <ol>
    <li>000</li>
    <li>001</li>
    <li>010</li>
    <li>011</li>
    <li>100</li>
    <li>101</li>
    <li>110</li>
    <li>111</li>
  </ol>

  <p>
    <%- noWidows(`Each world has a "rule" that everything is based on numbering from 0 to 255. This page is setup to start with Rule 90. All numbers from 0 to 255 can be represented by an 8 digit binary sequence. In this case, 90 is represented as 1011010.`) %>
  </p>

  <p>
    <%- noWidows(`So a cell looks at its parents and uses their coloring as a look-up value against the main rule. If your parents are 101, you will select the 5th value from the right on the main rule’s binary value. If it is a 1, the cell is black. Otherwise, it is white.`) %>
  </p>

  <p>
    <%- noWidows(`Here are some links to other resources if you want to dig deeper into the subject.`) %>
  </p>

  <ul>
    <li>
      <%- externalLink("Wolfram.com Elementary Cellular Automaton", { href: "https://mathworld.wolfram.com/ElementaryCellularAutomaton.html" }); %>
    </li>
    <li>
      <%- externalLink("Rule 30", { href: "https://mathworld.wolfram.com/Rule30.html" }); %>
    </li>
    <li>
      <%- externalLink("Wikipedia.org Elementary Cellular Automaton", { href: "https://en.wikipedia.org/wiki/Elementary_cellular_automaton" }); %>
    </li>
  </ul>

  <form class="center p">
    <span>Rule number from 0 to 255:</span>
    <span id="rule-up-and-down">
      <input id="rule" value="90" type="number" min="0" max="255" step="1" aria-label="Rule number"/>
      <button type="button" value="1">&#x25B2;</button>
      <button type="button" value="-1">&#x25BC;</button>
    </span>
  </form>

  <form class="center p">
    <span>Height:</span>
    <span id="height-up-and-down">
      <input id="height" value="128" type="number" min="1" max="255" step="10" aria-label="Number of visible lines"/>
      <button type="button" value="10">&#x25B2;</button>
      <button type="button" value="-10">&#x25BC;</button>
    </span>
  </form>

  <form class="center p">
    <label>Random Start: <input id="random-start" type="checkbox" /></label>
    <label>Scroll?: <input id="play" type="checkbox" /></label>
  </form>
</div>

<canvas id="canvas"></canvas>
