---
title: "Last.fm Scrobble History"
description: "After comparing my scrobbles, I thought it would be enjoyable to create a simple way to review my top albums and artists of the year. In pursuit of this goal, I developed a custom JSON API to gather the necessary data and used native web components to design the interface."
date: 2023-02-26
priority: 0.8
pageClasses:
  - 'posts last-fm-scrobbles'
layout: base
styles:
  - 'main'
  - 'posts/last-fm-scrobbles'
scripts:
  - 'posts/last-fm-scrobbles'
---

<blockquote>
  <p><%- noWidows(`To 'scrobble' a song means that when you listen to it, the name of the song is sent to a Web site (for example, Last.fm) and added to your music profile. Here’s how it works: Once you've signed up and downloaded Last.fm, you can scrobble songs you listen to on your computer or iPod automatically.`) %></p>
  <cite>
    <%- externalLink('Netlingo.com', { href: "https://www.netlingo.com/word/scrobble.php" })%>
  </cite>
</blockquote>

<div class="container">
  <p>
    <%- noWidows(`In a ${link('separate post', { href: '/posts/last-fm' })}, you can peruse my top albums and artists for various timeframes, all going back from the present. For example, you can view my top listens from the last 3 months. It's been fascinating to observe how my listening habits have evolved over time, as well as how they've remained consistent.`) %>
  </p>
</div>

<div class="p">
  <year-selector id="year-selector" min="2013" max="2023" value="2023"></year-selector>
</div>

<section>
  <div class="container">
    <h2>Artists</h2>
    <div id="artists" class="p">
      <% for (let i = 0; i < 10; i++) { %>
        <artist-listing></artist-listing>
      <% } %>
      <div class="center">
        <%- externalLink("More", { href: "#", class: "button more" }) %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Albums</h2>
    <div id="albums">
      <% for (let i = 0; i < 10; i++) { %>
        <album-listing></album-listing>
      <% } %>
      <div class="center">
        <%- externalLink("More", { href: "#", class: "button more" }) %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Yearly Scrobbles</h2>
    <div id="yearly-scrobbles">
      <year-listing year=2023 value=30567 maximum=37568 ></year-listing>
      <year-listing year=2022 value=37568 maximum=37568 ></year-listing>
      <year-listing year=2021 value=12942 maximum=37568 ></year-listing>
      <year-listing year=2020 value=14540 maximum=37568 ></year-listing>
      <year-listing year=2019 value=14022 maximum=37568 ></year-listing>
      <year-listing year=2018 value=11876 maximum=37568 ></year-listing>
      <year-listing year=2017 value=16750 maximum=37568 ></year-listing>
      <year-listing year=2016 value=10785 maximum=37568 ></year-listing>
      <year-listing year=2015 value=13656 maximum=37568 ></year-listing>
      <year-listing year=2014 value=8797 maximum=37568 ></year-listing>
      <year-listing year=2013 value=23652 maximum=37568 ></year-listing>
    </div>
  </div>
</section>

<section class="resources">
  <div class="container">
    <h2>Resources</h2>

    <ul>
      <li>
        <%- externalLink("My Last FM profile", {
          href: "https://www.last.fm/user/iBrianAnders"
        }); %>
      </li>

      <%
        const years = [];
        for (let i = (new Date).getFullYear(); i >= 2013; i--) {
          years.push(i);
        }
        years.forEach((year) => {
      %>
        <li>
          <%-
            externalLink(`${year} Scrobbles`, {
              href: `https://www.last.fm/user/iBrianAnders/library/artists?from=${year}-01-01&rangetype=year`
            });
          %>
        </li>
      <% }); %>
    </ul>
  </div>
</section>