---
title: "Polyrhythms"
description: "Ever feel your mind racing? Can't seem to quiet the inner chatter? Polyrhythms might be the unexpected answer. Combining polyrhythms with the right musical scale, can surprisingly induce a state of deep relaxation."
date: 2024-12-24
priority: 0.8
pageClasses:
  - 'posts polyrhythm'
layout: base
styles:
  - 'main'
  - 'posts/polyrhythm'
scripts:
  - 'posts/polyrhythm'
---

<section>
  <p><%- noWidows(`I was perusing YouTube, as one does, and encountered a fascinating channel called ${externalLink('Lucid Rhythms', { href: 'https://www.youtube.com/@LucidRhythms' } )}. Highly recommend! Through the process of watching their videos, I began to dissect them and attempt to figure out how they work.`); %></p>

  <blockquote>
    <p><%- noWidows(`Polyrhythm is the simultaneous use of two or more rhythms that are not readily perceived as deriving from one another, or as simple manifestations of the same meter.`) %></p>
    <cite>
      <%- externalLink("Wikipedia.org", { href: "https://en.wikipedia.org/wiki/Polyrhythm" }); %>
    </cite>
  </blockquote>

  <p><%- noWidows(`While perusing YouTube, as one does, I encountered a fascinating channel called Lucid Rhythms. Highly recommend! Through the process of watching their videos, I began to dissect them and attempt to figure out how they work.`); %></p>

  <p><%- noWidows(`To accomplish this, I used some math to set the velocity of each ball to be a ratio of the other ball velocities. There is a simple mathematical function that sets the velocity. Each ball is assigned a specific tone on the repeating scale of A, C, E, G in different octaves. When the ball touches a wall, the assigned tone plays.`); %></p>

  <p><%- noWidows(`To enable the relaxing audio tones, click somewhere inside the box.`); %></p>

  <div class="content">
    <canvas id="canvas"></canvas>
  </div>
</section>