---
title: 'Vertically Center Align Siblings'
description: 'Aligning elements vertically within a container in a flexible CSS-only way can often be an annoying challenge. There are a bunch of ways to do it. Here are a few.'
date: 2021-04-30
priority: 0.8
pageClasses:
  - 'posts vertically-center-siblings'
layout: base
styles:
  - 'main'
  - 'posts/vertically-center-siblings'
  - 'posts/code'
scripts:
  - 'posts/vertically-center-siblings'
---

<%
  const mockContent1 = `  <h3>Fusce et ipsum mauris.</h3>
      <p>Vestibulum a nulla euismod, elementum mi a, ultrices ipsum. Integer dolor mauris, pharetra nec sollicitudin non, tincidunt a&nbsp;tellus.</p>
      <button class="button">More text</button>`;
  const mockContent2 = `  <h3>Fusce blandit tempor ullamcorper.</h3>
      <p>Nullam urna purus, placerat fermentum sodales feugiat, feugiat nec risus. Integer tincidunt, sem nec vestibulum consequat, massa diam tristique risus, mattis venenatis velit quam at&nbsp;velit.</p>
      <button class="button">More text</button>`;
  const mockContent3 = `  <h3>Nam eget magna dolor.</h3>
      <p>Integer eu est est. Sed ornare et magna at sagittis. Phasellus faucibus, orci nec volutpat volutpat, lacus nisl vulputate sapien, sit amet elementum diam velit sed nunc. In sagittis malesuada ipsum, vel dignissim metus commodo quis. Integer varius vel erat non pharetra. Cras vestibulum, urna vitae condimentum lacinia, ex elit consectetur sapien, non suscipit dui elit non&nbsp;orci.</p>
      <button class="button">More text</button>`;
  const mockContent = [mockContent1, mockContent2, mockContent3];
%>


<section class="table-element">
  <div class="container">
    <header>
      <h2>&lt;table&gt;</h2>
    </header>
    <scroller>
      <table>
        <tr>
          <td>
            <%- mockContent.map((mock) => `<div class="shadow">${mock}</div>`).join(`</td><td>`); %>
          </td>
        </tr>
      </table>
    </scroller>

    <header>
      <h3>HTML</h3>
    </header>
  <%-
    code(`<table class="container">
  <tr>
    <td>
    ${mockContent.join(`
    </td>
    <td>
    `)}
    </td>
  </tr>
</table>`);
  %>


    <header>
      <h3>CSS</h3>
    </header>
  <%-
    code(`td {
  vertical-align: middle;
}`);
  %>

  </div>
</section>


<section class="display-table">
  <div class="container">
    <header>
      <h2>display: table;</h2>
    </header>
    <scroller>
      <div class="table">
        <row>
          <cell>
            <%- mockContent.map((mock) => `<div class="shadow">${mock}</div>`).join('</cell><cell>'); %>
          </cell>
        </row>
      </div>
    </scroller>

    <header>
      <h3>HTML</h3>
    </header>
  <%-
    code(`<row>
  <cell>
  ${mockContent.join(`
  </cell>
  <cell>
  `).replace(/      /g,'    ')}
  </cell>
</row>`);
  %>


    <header>
      <h3>CSS</h3>
    </header>
  <%-
    code(`row {
  display: table-row;
}
cell {
  display: table-cell;
  vertical-align: middle;
}`);
  %>

  </div>
</section>


<section class="inline-block">
  <div class="container">
    <header>
      <h2>display: inline-block;</h2>
    </header>
    <scroller>
      <row>
        <cell>
          <%- mockContent.map((mock) => `<div class="shadow">${mock}</div>`).join('</cell><cell>'); %>
        </cell>
      </row>
    </scroller>

    <header>
      <h3>HTML</h3>
    </header>
  <%-
    code(`<row>
  <cell>
  ${mockContent.join(`
  </cell>
  <cell>
  `).replace(/      /g,'    ')}
  </cell>
</row>`);
  %>


    <header>
      <h3>CSS</h3>
    </header>
  <%-
    code(`row {
  white-space: nowrap;
  display: block;
}
cell {
  display: inline-block;
  vertical-align: middle;
  width: 33.33333%;
  white-space: normal;
}`);
  %>

  </div>
</section>


<section class="flex">
  <div class="container">
    <header>
      <h2>display: flex;</h2>
    </header>
    <scroller>
      <row>
        <cell>
          <%- mockContent.map((mock) => `<div class="shadow">${mock}</div>`).join('</cell><cell>'); %>
        </cell>
      </row>
    </scroller>


    <header>
      <h3>HTML</h3>
    </header>
  <%-
    code(`<row>
  <cell>
  ${mockContent.join(`
  </cell>
  <cell>
  `).replace(/      /g,'    ')}
  </cell>
</row>`);
  %>


    <header>
      <h3>CSS</h3>
    </header>
  <%-
    code(`row {
  display: flex;
  align-items: center;
}`);
  %>

  </div>
</section>


<section class="grid">
  <div class="container">
    <header>
      <h2>display: grid;</h2>
    </header>
    <scroller>
      <row>
        <cell>
          <%- mockContent.map((mock) => `<div class="shadow">${mock}</div>`).join('</cell><cell>'); %>
        </cell>
      </row>
    </scroller>


    <header>
      <h3>HTML</h3>
    </header>
  <%-
    code(`<row>
  <cell>
  ${mockContent.join(`
  </cell>
  <cell>
  `).replace(/      /g,'    ')}
  </cell>
</row>`);
  %>


    <header>
      <h3>CSS</h3>
    </header>
  <%-
    code(`row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}`);
  %>

  </div>
</section>
