---
title: "Wordle Solver: Enhanced Strategies"
description: "In 2022, I developed a Wordle solver that relied on filtering a dictionary based on green and yellow letter matches. However, my exploration has uncovered additional strategies to elevate your Wordle game."
date: 2023-12-31
priority: 0.8
pageClasses:
  - 'posts wordle-solver-2'
layout: base
styles:
  - 'main'
  - 'posts/wordle-solver-2'
scripts:
  - 'posts/wordle-solver-2'
---

<section>
  <div class="container">
    <p>
      <%- noWidows(`Let's dive into two key game-changers:`) %>
    </p>

    <h2>
      <%- noWidows(`Embracing Letter Frequencies:`) %>
    </h2>

    <p>
      <%- noWidows(`Unveiling the Uneven Alphabet: The 26 letters in the English language aren't evenly distributed across words. Some letters, like S, E, A, R, and O, reign supreme in usage.`) %>
    </p>
    <p>
      <%- noWidows(`Harnessing High-Frequency Starters: By strategically choosing your first guess to include these heavy hitters, you can maximize information gain. For instance, "AROSE" covers a whopping 95% of words in the 5-letter dictionary, exponentially increasing your chances of early letter discovery.`) %>
    </p>
    <p>
      <%- noWidows(`Adapting to the Narrowing Wordscape: As the game progresses, continue to consider letter frequencies within the remaining possible words. This statistical approach guides you towards guesses that efficiently reveal the hidden word.`) %>
    </p>

    <h2>
      <%- noWidows(`Delving into the Untapped:`) %>
    </h2>

    <p>
      <%- noWidows(`Second-Guess Surprises: While logic might suggest choosing a word from the possible solutions list, consider the power of the unexpected. A second guess composed entirely of unused letters can often unveil more letters than a seemingly logical choice.`) %>
    </p>
    <p>
      <%- noWidows(`Expanding Your Letter Arsenal: By embracing words like "UNITY" after "AROSE," you cover 100% of letters in the 5-letter dictionary, ensuring a comprehensive exploration of possibilities.`) %>
    </p>
    <p>
      <%- noWidows(`Remember: Wordle is a game of both logic and creativity. By understanding letter frequencies and embracing unconventional guesses, you'll unlock a winning strategy that blends statistical prowess with linguistic intuition.`) %>
    </p>

    <h2>
      Conclusion
    </h2>

    <p>
      <%- noWidows(`By integrating these strategies, you'll elevate your Wordle game to new heights, conquering each daily puzzle with confidence and finesse.`) %>
    </p>

    <p>
      <%- link('Check out the orignal post', { href: '/posts/wordle-solver/' }) %>
    </p>
  </div>
</section>

<section class="game-board content">
  <h2>
    Game Board
  </h2>
  <p>
    <%- noWidows(`Update the board below so it matches your current game. Mark each letter as a near miss (🟨) or a hit (🟩).`) %>
  </p>
  <div class="board p" id="board" style="height: 142px;">
    <%
      const lines = 6;
      const letters = 5;

      for (let line = 0; line < lines; line++) {
    %>
      <div class="line" id="line-<%- line %>">
        <% for (let letter = 0; letter < letters; letter++) { %>
          <div data-letter-number="<%- letter %>">
            <input
              type="text"
              maxlength="2"
              placeholder="?"
              id="letter-<%- line %>-<%- letter %>"
              class="letter"
              data-letter-number="<%- letter %>"
              data-state="wrong" />
            <fieldset id="lettercolor-<%- line %>-<%- letter %>">
              <label for="wrong-<%- line %>-<%- letter %>" >
                <input checked
                  type="radio"
                  id="wrong-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
              <label for="close-<%- line %>-<%- letter %>" >
                <input
                  type="radio"
                  id="close-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
              <label for="correct-<%- line %>-<%- letter %>" >
                <input
                  type="radio"
                  id="correct-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
            </fieldset>
          </div>
        <% } %>
      </div>
    <%
      }
    %>
  </div>
  <button
    id=submit
    class="button"
    type="button">
    Find matches
  </button>
  <button
    id=clear
    class=button
    type=button>
    Clear
  </button>
</section>

<section class="content">
  <h2>Letter frequency in the dictionary</h2>
  <div class="p" id="letter-frequency">
  </div>
</section>

<section class="content">
  <h2>Suggested Solutions</h2>
  <p>Results: <span id="results-count">-</span></p>
  <div class="p" id="options"></div>
</section>

<section class="content">
  <h2>Words made of untried letters</h2>
  <p>Results: <span id="untried-results-count">-</span></p>
  <div class="p" id="untried-letters">
  </div>
</section>

<toast-notification>
  <div class="container">
    <div class="nbar">
      <span>✔️</span> Copied to clipboard
    </div>
  </div>
</toast-notification>
