---
title: "Wordle Solver"
description: "I have been playing Wordle for a while, just like the rest of the world. But I am continually considering the algorithm for determining possible word choices. Here is my attempt at a solver."
date: 2022-04-23
priority: 0.8
pageClasses:
  - 'posts wordle-solver'
layout: base
styles:
  - 'main'
  - 'posts/wordle-solver'
scripts:
  - 'posts/wordle-solver/index'
---

<section>
  <div class="container">
    <h2>
      <%- noWidows('How to play Wordle'); %>
    </h2>

    <p>
      <%- noWidows(`Wordle is a word game in which players are presented with a grid of letters and must guess a hidden word or phrase.`) %>
    </p>

    <p>
      <%- noWidows(`Here's how to play Wordle:`) %>
    </p>

    <ol>
      <li>
        <%- noWidows(`A grid of letters will be presented on the screen, with some of the letters already filled in. These letters represent the hidden word or phrase.`) %>
      </li>
      <li>
        <%- noWidows(`The player has to guess the hidden word or phrase by typing their guess into the text field provided.`) %>
      </li>
      <li>
        <%- noWidows(`The game will indicate how many letters the player has guessed correctly, but not in the correct position, and how many letters are correctly placed.`) %>
      </li>
      <li>
        <%- noWidows(`If a letter is correctly placed, that letter will be filled in the grid in the corresponding position.`) %>
      </li>
      <li>
        <%- noWidows(`The player can continue guessing different words until they are able to guess the correct one.`) %>
      </li>
      <li>
        <%- noWidows(`Some version of the game have a limited number of guess, so the player should use them wisely.`) %>
      </li>
      <li>
        <%- noWidows(`The game can have different levels and different themes, and some versions may include a time limit.`) %>
      </li>
      <li>
        <%- noWidows(`Wordle is a fun and challenging word game that will test your ability to guess words based on the letters provided. Be creative and don't be afraid to try different words and combinations of letters to find the correct answer.`) %>
      </li>
    </ol>

    <p>
      <%- noWidows(`Please note that the game mechanics might differ a bit from version to version but overall the rules are quite similar.`) %>
    </p>

    <p>
      <%- link('Check out the post with enhanced strategies', { href: '/posts/wordle-solver-2/' }) %> (and a better algorithm).
    </p>
  </div>
</section>

<section class="game-board content">
  <h2>
    Game Board
  </h2>
  <p>
    <%- noWidows(`Update the board below so it matches your current game. Mark each letter as a near miss (🟨) or a hit (🟩).`) %>
  </p>
  <div class="board p" id="board" style="height: 142px;">
    <%
      const lines = 6;
      const letters = 5;

      for (let line = 0; line < lines; line++) {
    %>
      <div class="line" id="line-<%- line %>">
        <% for (let letter = 0; letter < letters; letter++) { %>
          <div data-letter-number="<%- letter %>">
            <input
              type="text"
              maxlength="2"
              placeholder="?"
              id="letter-<%- line %>-<%- letter %>"
              class="letter"
              data-letter-number="<%- letter %>"
              data-state="wrong" />
            <fieldset id="lettercolor-<%- line %>-<%- letter %>">
              <label for="wrong-<%- line %>-<%- letter %>" >
                <input checked
                  type="radio"
                  id="wrong-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
              <label for="close-<%- line %>-<%- letter %>" >
                <input
                  type="radio"
                  id="close-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
              <label for="correct-<%- line %>-<%- letter %>" >
                <input
                  type="radio"
                  id="correct-<%- line %>-<%- letter %>"
                  name="letter-<%- line %>-<%- letter %>"
                  data-letter-number="<%- letter %>" />
              </label>
            </fieldset>
          </div>
        <% } %>
      </div>
    <%
      }
    %>
  </div>
  <button
    id=submit
    class="button"
    type="button">
    Find matches
  </button>
  <button
    id=clear
    class=button
    type=button>
    Clear
  </button>
</section>

<section class="content">
  <h2>Potential Solutions</h2>
  <p>Results: <span id="results-count">-</span></p>
  <div class="p" id="options"></div>
</section>

<toast-notification>
  <div class="container">
    <div class="nbar">
      <span>✔️</span> Copied to clipboard
    </div>
  </div>
</toast-notification>