<div class="header-first-row {{difficulty}}">
  <span class="time">
    <span class="number number-{{timeHundreds}}"></span>
    <span class="number number-{{timeTens}}"></span>
    <span class="number number-{{timeOnes}}"></span>
  </span>
  <button {{action "reset"}} class="face-button {{if tileMouseDown 'o'}} {{if hasWon 'sunglasses'}} {{if gameOver 'dead'}}"></button>
  <span class="mine-count-down">
    <span class="number number-{{mineCountMinusFlagsHundreds}}"></span>
    <span class="number number-{{mineCountMinusFlagsTens}}"></span>
    <span class="number number-{{mineCountMinusFlagsOnes}}"></span>
  </span>
</div>

<div class="header-second-row {{difficulty}}">

  <div>
    <select onchange={{action "selectDifficulty" value="target.value"}}>
      {{#each difficultyOptions as |difficultyOption|}}
        <option value={{difficultyOption}} selected={{eq difficulty difficultyOption}}>{{capitalize difficultyOption}}</option>
      {{/each}}
    </select>
  </div>

  {{!-- {{#if isCustom}}
    <div>
      <span class="no-break">
        Mines: {{view "select"
               content=mineOptions
               value=mineCount}}
      </span>

      <span class="no-break">
        Rows: {{view "select"
               content=rowOptions
               value=numberOfRows}}
      </span>

      <span class="no-break">
        Columns: {{view "select"
               content=columnOptions
               value=numberOfColumns}}
      </span>
    </div>
  {{/if}} --}}

</div>

<ul class="table {{difficulty}}">
  {{#each rowsAndColumns as |row|}}
    <li class="row column-count-{{columnWidthClass}}">
      <ul>
        {{#each row as |rowColumn|}}
          <li class="column column-count-{{columnWidthClass}}">
            {{mine-sweeper-tile model=rowColumn}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
