<footer>
  <ul class="content">
    <li>
      <% const date = new Date(); %>
      &copy; <%- date.getFullYear() %> <a itemprop="url" href="<%- locals.contact %>">
        <span itemprop="author"><%- locals.author %></span>
      </a>
    </li>

    <li>
      <a itemprop="url" href="https://github.com/briananders/briananders.net"
         target="blank">
        Github repo for this site
      </a>
    </li>

    <li class="siteinfo">
      <%- (devBuild) ? 'Development' : 'Production' %> build, version <%- locals.version %>
    </li>
  </ul>
</footer>
