<%- partial('head/styles', {...locals, path: 'modules/footer' }); %>

<%
  const date = new Date();
  const thisYear = date.getFullYear();
  const contactLinks = [
    { copy: 'Bat Lessons',   href: locals.URLs.batLessons,                },
    { copy: 'Banders Drums', href: locals.URLs.bandersDrums,         },
    { copy: 'Github',        href: locals.URLs.github,               },
    { copy: 'Instagram',     href: locals.URLs.instagram,            },
    { copy: 'Last.fm',       href: locals.URLs.lastfm,               },
    { copy: 'LinkedIn',      href: locals.URLs.linkedin,             },
    { copy: 'Mastodon',      href: locals.URLs.mastodon, rel: 'me',  },
    { copy: 'Blue Sky',      href: locals.URLs.bluesky,              },
    { copy: 'Twitter',       href: locals.URLs.twitter,              },
    { copy: 'YouTube',       href: locals.URLs.drumYoutube,          },
  ].map(item => {
    return blockLink(item.copy, item);
  });
%>

<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>" role="navigation" aria-label="Site footer">
  <div class="content">
    <div class="copyright">
      <span>
        <%- link(img({
          src: '/images/logo.svg',
          alt: 'Brian Anders logo',
          width: '100',
          height: '34',
        }), {
          href: '/',
          class: 'brand',
          'aria-label': 'Brian Anders home page',
        }); %>
      </span>
      <span>&copy; <%- thisYear %></span>
    </div>
    <div class="links">
      <%- contactLinks.join(''); %>
    </div>
  </div>
</footer>
