<footer>
  <ul class="content">
    <li>
      &copy; 2016 <a itemprop="url" href="<%- locals.contact %>" title="<%- locals.author %>">
        <span itemprop="author"><%- locals.author %></span>
      </a>
    </li>

    <li>
      <a itemprop="url" href="https://github.com/briananders/briananders.net"
         title="Github repo for this site"
         target="blank">
        Github repo for this site
      </a>
    </li>

    <li class="siteinfo">
      <%- (devBuild) ? 'Development' : 'Production' %> build, version <%- locals.version %>
    </li>
  </ul>
</footer>
