<%- partial('head/styles', {...locals, path: 'modules/footer' }); %>

<%
  const date = new Date();
  const contactLinks = [
    { copy: 'Bat Lessons',  href: locals.batLessons          },
    { copy: 'Banders Drums', href: locals.bandersDrums.path    },
    { copy: 'Github',       href: locals.github              },
    { copy: 'Instagram',    href: locals.instagram           },
    { copy: 'Last.fm',      href: locals.lastfm              },
    { copy: 'LinkedIn',     href: locals.linkedin            },
    { copy: 'Mastodon',     href: locals.mastodon,           rel: 'me' },
    { copy: 'Blue Sky',     href: locals.bluesky             },
    { copy: 'Twitter',      href: locals.twitter             },
    { copy: 'YouTube',      href: locals.bandersDrums.youtube },
  ].map(item => {
    return externalLink(item.copy, item);
  });
%>

<footer class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>" role="navigation" aria-label="Site footer">
  <div class="content">
    <div class="copyright">
      <span>
        <%- link(img({
          src: '/images/logo.svg',
          alt: 'Brian Anders logo',
          width: '100',
          height: '34',
        }), {
          href: '/',
          class: 'brand',
          'aria-label': 'Brian Anders home page',
        }); %>
      </span>
      <span>&copy; <%- date.getFullYear(); %></span>
    </div>
    <div class="links">
      <%- contactLinks.join(''); %>
    </div>
  </div>
</footer>
