<div id="skip-nav" tabindex="-1" data-state=inactive>
  <button>Skip navigation</button>
</div>
<%- partial('nav', locals); %>
<header class="main-header <%- locals.withHead ? 'with-head' : 'without-head' %> <%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
  <% if(!locals.withHead) { %>
    <h1 itemprop="title" class="name content">
      <% if (locals.altTitle !== undefined) { %>
        <%- locals.altTitle %>
      <% } else if (locals.title !== undefined) { %>
        <%- locals.title %>
      <% } %>
    </h1>
  <% } %>
</header>
