<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"                 content="IE=edge">
<title><%- locals.name %></title>
<meta name="description"                           content="<%- locals.description %>">

<meta http-equiv="content-type"                    content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="HandheldFriendly"                      content="true">
<meta name="MobileOptimized"                       content="320">
<meta name="apple-mobile-web-app-capable"          content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable"                content="yes">
<meta name="keywords"                              content="Brian, Anders, Brian Anders, Engineer, UX Engineer, Senior UX Engineer, Nest, Google, Alphabet, Lamoni, Graceland University, Google Store">
<meta name="description"                           content="<%- locals.description %>">
<meta name="author"                                content="<%- locals.author %>">
<meta name="viewport"                              content="width=device-width,initial-scale=1.0" />

<meta http-equiv="X-UA-Compatible"                 content="IE=edge,chrome=1">
<meta name="HandheldFriendly"                      content="true">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name"                              content="<%- locals.author %>">
<meta itemprop="description"                       content="<%- locals.description %>">
<meta itemprop="image"                             content="<%- locals.domain %>favicon_base.png">
<link rel="canonical"                                 href="<%- locals.domain %><%- locals.path %>" />

<!-- Twitter Card data -->
<meta name="twitter:card"                          content="summary">
<meta name="twitter:url"                           content="<%- locals.domain %><%- locals.path %>">
<meta name="twitter:site"                          content="@brnandrs">
<meta name="twitter:creator"                       content="@brnandrs">
<meta name="twitter:title"                         content="<%- locals.author %>">
<meta name="twitter:description"                   content="<%- locals.description %>">
<meta name="twitter:image"                         content="<%- locals.domain %>favicon_base.png">

<!-- Open Graph data -->
<meta property="og:type"                           content="profile" />
<meta property="og:url"                            content="<%- locals.domain %><%- locals.path %>" />
<meta property="og:title"                          content="<%- locals.author %>" />
<meta property="og:image"                          content="<%- locals.domain %>favicon_base.png" />
<meta property="og:description"                    content="<%- locals.description %>" />
<meta property="og:site_name"                      content="<%- locals.name %>" />

<!-- Favicon -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/images/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"                 href="/images/apple-touch-icon-precomposed.png" />
<link rel="shortcut icon"                                href="/images/favicon.png" />
<link rel="icon" type="image/ico"                        href="/images/favicon.ico" />
<link rel="shortcut icon"                                href="/images/favicon.ico" />

<meta itemprop="copyrightHolder"  content="<%- locals.author %>"/>
<meta itemprop="copyrightYear"    content="<%- new Date().getFullYear() %>"/>
<meta itemprop="isFamilyFriendly" content="true"/>

<meta itemprop="author" content="<%- locals.author %>"/>
<meta itemprop="datePublished" content="<%- locals.date %>"/>
<meta itemprop="publisher" content="<%- locals.author %>"/>

<% if(locals.robots === false) { %>
<meta name="robots" content="noindex, nofollow">
<% } %>

<% if(!locals.devBuild) { %>
  <%# Google Tag Manager %>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5KZW4HX');
  </script>
  <%# End Google Tag Manager %>
<% } else { %>
  <script>
    window.dataLayer = [];
  </script>
<% } %>

<% const fontApi = 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,500|Source+Serif+Pro'; %>

<link rel="preload" media="all" href="<%- fontApi %>" lazyload onload="this.onload=null;this.rel='stylesheet'" as="style">
<% locals.styles.forEach((path) => { %>
  <link rel="preload" media="all" href="/styles/<%- path %>.css" lazyload onload="this.onload=null;this.rel='stylesheet'" as="style">
<% }); %>

<noscript>
  <link rel="stylesheet" media="all" href="<%- fontApi %>">
  <% locals.styles.forEach((path) => { %>
    <link rel="stylesheet" media="all" href="/styles/<%- path %>.css">
  <% }); %>
</noscript>