<%
  const deferStyles = locals.deferStyles || false;
  const inlineStyles = locals.inlineStyles || false;
  const inlineSVGs = locals.inlineSVGs || false;
  const customFonts = locals.customFonts || false;
  const customFontsDeferred = locals.customFontsDeferred || false;
  const customFontsSwap = locals.customFontsSwap || false;
%>

<head>
  <%- partial('head/meta', locals); %>

  <% if (customFonts) { %>
    <%- partial('head/fonts', locals); %>
  <% } %>
  <% locals.styles.forEach((path) => { %>
    <%- partial('head/styles', { ...locals, path }); %>
  <% }); %>

  <%- partial('head/styles', { ...locals, path: 'example/optimization' }); %>
</head>
<body>

  <%- partial('head/scripts', locals); %>

  <%- partial('header', locals); %>

  <main class="drums">
    <section class="intro">
      <div class="container">
        <header>
          <h2>
            <%- noWidows('Who am I?'); %>
          </h2>
        </header>
        <p>
          <%- noWidows(`I am Brian Anders, an Engineer Manager in the tech industry. My specialty is in building enterprise level e-commerce websites.`); %>
        </p>
        <p>
          <%- noWidows(`I cohost a podcast and YouTube channel about the history of Batman with my friend ${externalLink('Alex Cash', { href: 'https://alex.cash' })}, called ${externalLink('Bat Lessons', { href: locals.batLessons })}. I also record drum covers for my YouTube channel, ${link('Banders Drums', { href: locals.bandersDrums.youtube })}.`); %>
        </p>
        <p>
          <%- noWidows(`I have a strong passion for music.  In my free time, I listen to a lot of music, play some other instruments, and try to keep up with a lot of different podcasts.`); %>
        </p>
        <p>
          You can find me on the internet in some other places.
          <% const contactLinks = [
              { copy: 'Github',    href: locals.github,   },
              { copy: 'Instagram', href: locals.instagram },
              { copy: 'Last.fm',   href: locals.lastfm,   },
              { copy: 'LinkedIn',  href: locals.linkedin, },
              { copy: 'Mastodon',  href: locals.mastodon, },
              { copy: 'Twitter',   href: locals.twitter,  },
              { copy: 'YouTube',   href: locals.bandersDrums.youtube, },
            ].map(item => externalLink(item.copy, {
              href: item.href,
              itemprop: 'url',
              target: 'blank',
              rel: 'noopener',
            }));
          %>
          <%- contactLinks.join(', '); %>.
        </p>
      </div>
    </section>

    <div class="drums-logo container">
      <style>
        .drums .drums-logo {
          width: min(100%, 400px);
        }
      </style>
      <%- img({
        src: '/images/drums/logo.png',
        alt: 'Banders Drums logo',
        width: '400',
        height: '400',
      }); %>
    </div>

    <section>
      <div class="container">
        <p>
          <%- noWidows('Banders Drums is my channel for drum covers. I grew up loving all kinds of rock and punk music. When I was younger, I played in symphonic band, jazz band, and the orchestra. Over time, I have focused more and more time and energy on playing to the music that I love listening to.'); %>
        </p>
        <p>
          <%- noWidows('Hardcore and emo bands like Emery and Underoath are my favorite to play to. I also play lots of music that features Travis Barker. Someday, I will write my own music, but for now I will continue posting drum cover videos.'); %>
        </p>
      </div>
    </section>

    <section>
      <header class="container">
        <h2>
          Social Channels
        </h2>
      </header>
      <div class="container social-profiles">
        <%- externalLink(`
            <span class="social-icon">${lazyImage({ src: '/images/drums/instagram-icon.svg' })}</span>
            <span role="heading" aria-level="3" class="h4">Instagram</span>
            <span class="h5">@coyote.drums</span>
          `, {
            class: "link social-profile",
            href: "https://www.instagram.com/coyote.drums/"
        }); %>
        <%- externalLink(`
            <span class="social-icon">${lazyImage({ src: '/images/drums/youtube-icon.svg' })}</span>
            <span role="heading" aria-level="3" class="h4">Youtube</span>
            <span class="h5">Banders Drums</span>
          `, {
            class: "link social-profile",
            href: locals.bandersDrums.youtube,
        }); %>
      </div>
    </section>

    <section>
      <div class="container">
        <header>
          <h2>
            Playlists
          </h2>
        </header>
        <div class="video-grid playlists">
          <button class="block link yt-modal-trigger" data-playlist-id="PLetKrknUS6uORehWMWAOfojlwXGCsUXZw">
            <%- lazyImage({ src: '/images/drums/drum-covers.webp' }); %>
            Drum Covers
          </button>
          <button class="block link yt-modal-trigger" data-playlist-id="PLetKrknUS6uPieWF-xk2z4-5O6Qknn9B9">
            <%- lazyImage({ src: '/images/drums/glow-sticks.webp' }); %>
            Glow Sticks
          </button>
        </div>
      </div>
    </section>

    <%
      const videoTitle = (title, artist) => {
        if (artist) {
          return `
            <ul>
              <li>${noWidows(title)}</li>
              <li>By: ${artist}</li>
            </ul>
          `;
        }
        return title;
      };

      const videos = [
        {
          artist: "Underoath",
          title: "I don’t feel very receptive today",
          id: "loGe3CfA9r8",
          date: "2020-12-23"
        },
        {
          artist: "Queens of the Stone Age",
          title: "Song for the Dead",
          id: "ib--ZJhxoPU",
          date: "2020-12-23"
        },
        {
          artist: "Chumbawamba",
          title: "Tubthumping (Drum Cover)",
          id: "OYF05_zmLbg",
          date: "2020-12-29"
        },
        {
          artist: "Box Car Racer",
          title: "All Systems Go",
          id: "5efQM16xcNE",
          date: "2020-12-29"
        },
        {
          artist: "These Green Eyes",
          title: "Something Perfect",
          id: "FnJVUBm8TXg",
          date: "2020-12-29"
        },
        {
          artist: "Blink-182",
          title: "Down",
          id: "6CmnK_GC9YM",
          date: "2021-02-28"
        },
        {
          title: "What happens when your camera isn’t mounted very well",
          id: "VIFcO2bItjU",
          date: "2022-02-01"
        },
        {
          artist: "Blink-182",
          title: "What’s My Age Again",
          id: "f8HAx-N4z28",
          date: "2022-02-02"
        },
        {
          artist: "Blink-182",
          title: "Adam’s Song",
          id: "NSZ8_1lQ_I8",
          date: "2022-02-15"
        },
        {
          artist: "Blink-182",
          title: "All The Small Things",
          id: "9ubiPRp5uto",
          date: "2022-03-02"
        },
      ].sort((a, b) => (a.date < b.date) ? 1 : -1);
    %>

    <section class="videos">
      <div class="container">
        <header>
          <h2>
            Videos
          </h2>
        </header>
        <div class="video-grid">
          <% videos.forEach(({ artist, title, id }) => { %>
            <button class="block link yt-modal-trigger" data-video-id="<%- id %>"><%- videoTitle(title, artist); %></button>
          <% }); %>
        </div>
      </div>
    </section>
  </main>





  <%- partial('footer', locals); %>
</body>
