<title><%- locals.name %> | <%- locals.title.replace(/_/g, ' '); %></title>
<meta name="description"                           content="<%- locals.description %>" />

<meta charset="UTF-8" />
<meta http-equiv="content-type"                    content="text/html; charset=UTF-8" />

<meta http-equiv="X-UA-Compatible"                 content="IE=edge" />
<meta name="apple-mobile-web-app-capable"          content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#212121" />
<meta name="theme-color"                           content="#212121" />
<meta name="mobile-web-app-capable"                content="yes" />
<meta name="viewport"                              content="width=device-width,initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible"                 content="IE=edge,chrome=1" />

<% if(locals.robots === false) { %>
  <meta name="robots"                                content="noindex, nofollow" />
<% } %>

<meta name="keywords"                              content="Brian, Anders, Brian Anders" />
<meta name="description"                           content="<%- locals.description %>" />
<meta name="author"                                content="<%- locals.author %>" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name"                              content="<%- locals.author %>" />
<meta itemprop="description"                       content="<%- locals.description %>" />
<meta itemprop="image"                             content="<%- metaImagePath({ pagePath: locals.path }); %>" />
<link rel="canonical"                              href="<%- locals.domain %><%- locals.path %>" />

<!-- Twitter Card data -->
<meta name="twitter:card"                          content="summary" />
<meta name="twitter:url"                           content="<%- locals.domain %><%- locals.path %>" />
<meta name="twitter:site"                          content="@<%- locals.twitterHandle %>" />
<meta name="twitter:creator"                       content="@<%- locals.twitterHandle %>" />
<meta name="twitter:title"                         content="<%- locals.author %>" />
<meta name="twitter:description"                   content="<%- locals.description %>" />
<meta name="twitter:image"                         content="<%- metaImagePath({ pagePath: locals.path }); %>" />

<!-- Open Graph data -->
<meta property="og:type"                           content="profile" />
<meta property="og:url"                            content="/<%- locals.path %>" />
<meta property="og:title"                          content="<%- locals.author %>" />
<meta property="og:image"                          content="<%- metaImagePath({ pagePath: locals.path }); %>" />
<meta property="og:description"                    content="<%- locals.description %>" />
<meta property="og:site_name"                      content="<%- locals.name %>" />

<!-- Favicon -->
<link rel="shortcut icon"                          href="/images/favicon_144.png" />
<link rel="icon"                                   href="/images/favicon_144.png" />
<link rel="apple-touch-icon"                       href="/images/favicon_144.png" />
<link rel="apple-touch-icon-precomposed"           href="/images/favicon_144.png" />

<meta itemprop="copyrightHolder"                   content="<%- locals.author %>"/>
<meta itemprop="copyrightYear"                     content="<%- new Date().getFullYear(); %>"/>
<meta itemprop="isFamilyFriendly"                  content="true"/>

<meta itemprop="author"                            content="<%- locals.author %>"/>
<% if (locals.date) { %>
  <meta itemprop="datePublished"                     content="<%- `${locals.date.getFullYear()}-${('00' + (locals.date.getMonth() + 1)).slice(-2)}-${('00' + locals.date.getDate()).slice(-2)}` %>"/>
<% } %>
<meta itemprop="publisher"                         content="<%- locals.author %>"/>

<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />

<% if(!locals.devBuild) { %>
  <%# Google Tag Manager %>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.defer=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5KZW4HX');
  </script>
  <%# End Google Tag Manager %>
<% } else { %>
  <script>
    window.dataLayer = [];
  </script>
<% } %>

