{{#each albums as |album index|}}
  {{#if (lt index length)}}
    {{#if showDescription}}
      <div class="album-tile">
        <a itemprop="url" target="_blank" href="{{album.url}}" class="album" title="{{album.name}}">
          {{image-tag src=album.image alt=album.name }}
          <ul>
            <h3 class="name">
              {{album.name}}
            </h3>
            <li>
              <a itemprop="url" href="{{album.artist.url}}" target="_blank">{{album.artist.name}}</a>
            </li>
          </ul>
        </a>
      </div>
    {{else}}
      <a itemprop="url" target="_blank" href="{{album.url}}" class="album" title="{{album.name}}">
        {{image-tag src=album.image alt=album.name }}
      </a>
    {{/if}}
  {{/if}}
{{/each}}
