---
layout: blank
---

<style><%- inlineScss('/styles/base.scss'); %></style>

<%- partial('head/scripts', locals); %>

<%- partial('header', {
  ...locals,
  inlineStyles: true,
  inlineSVGs: true,
}); %>

<main class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
  <% if (locals.description && !locals.homepage) { %>
    <div class="content description" itemprop="description">
      <p>
        <%- locals.description %>
      </p>
    </div>
  <% } %>

  <%- content %>

</main>

<%- partial('footer', { ...locals, deferStyles: true }); %>
