<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
  <%- partial('meta', locals); %>
  <script>
    window.onerror = function (msg, url, lineNo, columnNo, error) {
      var string = msg.toLowerCase();
      var message = [
        'Message: ' + msg,
        'URL: ' + url,
        'Line: ' + lineNo,
        'Column: ' + columnNo,
        'Error object: ' + JSON.stringify(error)
      ].join(' - ');

      dataLayer.push({
        event: 'gaEvent',
        gaCategory: 'javascript error',
        gaAction: message,
      });
    };
  </script>
</head>
<body>
  <%# Google Tag Manager (noscript); %>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KZW4HX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <%# End Google Tag Manager (noscript); %>

  <%- partial('header', locals); %>
  <main class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
    <header class="content">
      <% if (locals.description) { %>
        <p class="description" itemprop="description">
          <%- noWidows(locals.description); %>
        </p>
      <% } %>
    </header>

		<%- content %>

  </main>

  <%- partial('footer', locals); %>

  <script src="/scripts/main.js" async></script>
</body>
</html>
