---
layout: blank
---

<% if(!locals.devBuild) { %>
  <%# Google Tag Manager (noscript); %>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KZW4HX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <%# End Google Tag Manager (noscript); %>
<% } %>

<%- partial('header', locals); %>

<main class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
  <header class="content">
    <% if (locals.description) { %>
      <p class="description" itemprop="description">
        <%- noWidows(locals.description); %>
      </p>
    <% } %>
  </header>

  <%- content %>

</main>

<%- partial('footer', locals); %>

<script src="/scripts/main.js" async defer></script>
