<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
  <%- partial('meta', locals) %>
</head>
<body>

  <%- partial('header', locals) %>
  <main class="<%- (locals.pageClasses) ? locals.pageClasses.toString().replace(/,/g,' ') : '' %>">
    <header class="content">
      <% if (locals.description) { %>
        <p class="description" itemprop="description">
          <%- locals.description %>
        </p>
      <% } %>
    </header>

		<%- content %>

  </main>

  <%- partial('footer', locals) %>

  <script src="/scripts/main.js"></script>
</body>
</html>
